{
  "openapi": "3.0.3",
  "info": {
    "title": "Sui JSON-RPC API",
    "description": "Sui JSON-RPC API for interaction with Sui Full node. Make RPC calls using https://fullnode.NETWORK.sui.io:443, where NETWORK is the network you want to use (testnet, devnet, mainnet). By default, local networks use port 9000.",
    "contact": {
      "name": "Mysten Labs",
      "url": "https://mystenlabs.com",
      "email": "build@mystenlabs.com"
    },
    "license": {
      "name": "Apache-2.0",
      "url": "https://raw.githubusercontent.com/MystenLabs/sui/main/LICENSE"
    },
    "version": "1.74.0"
  },
  "servers": [
    {
      "url": "https://fullnode.mainnet.sui.io:443",
      "description": "Sui Mainnet"
    },
    {
      "url": "https://fullnode.testnet.sui.io:443",
      "description": "Sui Testnet"
    },
    {
      "url": "https://fullnode.devnet.sui.io:443",
      "description": "Sui Devnet"
    },
    {
      "url": "http://localhost:9000",
      "description": "Local node (default port)"
    }
  ],
  "paths": {
    "/#sui_devInspectTransactionBlock": {
      "post": {
        "operationId": "sui_devInspectTransactionBlock",
        "summary": "sui_devInspectTransactionBlock",
        "description": "Runs the transaction in dev-inspect mode. Which allows for nearly any transaction (or Move call) with any arguments. Detailed results are provided, including both the transaction effects and any return values.",
        "tags": [
          "Write API"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "example": "2.0"
                  },
                  "id": {
                    "type": "integer",
                    "example": 1
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "sui_devInspectTransactionBlock"
                    ]
                  },
                  "params": {
                    "type": "array",
                    "description": "Parameters as positional array",
                    "items": {}
                  }
                }
              },
              "examples": {
                "example": {
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 1,
                    "method": "sui_devInspectTransactionBlock",
                    "params": [
                      "0xd70420418b84502e506794227f897237764dde8d79a01ab2104bf742a277a2ab",
                      "AAACACBnxtMcbJcOVn8D72fYEaT4Q2ZbjePygvpIs+AQO6m77QEAagYVO5/EhuEB8OnicDrIZm0GrsxN3355JqNhlwxlpbECAAAAAAAAACDoQ3EipycU+/EOvBcDPFtMkZiSbdzWAw3CwdmQCAtBWAEBAQEBAAEAAC9cVD1xauQ9RT3rOxmbva8bxwMMdoL4dwPc5DEkj+3gASxDgF0Nb1QCp60Npb3sVJx83qBrxKHTOaIlIe6pM7iJAgAAAAAAAAAgnvsgc1pPauyCE27/c+aBnHN3fSsxRAWdEJYzYFOryNAvXFQ9cWrkPUU96zsZm72vG8cDDHaC+HcD3OQxJI/t4AoAAAAAAAAAoIYBAAAAAAAA",
                      1000,
                      8888,
                      null
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "enum": [
                        "2.0"
                      ]
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "$ref": "#/components/schemas/DevInspectResults"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/#sui_dryRunTransactionBlock": {
      "post": {
        "operationId": "sui_dryRunTransactionBlock",
        "summary": "sui_dryRunTransactionBlock",
        "description": "Return transaction execution effects including the gas cost summary, while the effects are not committed to the chain.",
        "tags": [
          "Write API"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "example": "2.0"
                  },
                  "id": {
                    "type": "integer",
                    "example": 1
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "sui_dryRunTransactionBlock"
                    ]
                  },
                  "params": {
                    "type": "array",
                    "description": "Parameters as positional array",
                    "items": {}
                  }
                }
              },
              "examples": {
                "example": {
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 1,
                    "method": "sui_dryRunTransactionBlock",
                    "params": [
                      "AAACACB7qR3cfnF89wjJNwYPBASHNuwz+xdG2Zml5YzVxnftgAEAT4LxyFh7mNZMAL+0bDhDvYv2zPp8ZahhOGmM0f3Kw9wCAAAAAAAAACCxDABG4pPAjOwPQHg9msS/SrtNf4IGR/2F0ZGD3ufH/wEBAQEBAAEAAGH7tbTzQqQL2/h/5KlGueONGM+P/HsAALl1F1x7apV2AejYx86GPzE9o9vZKoPvJtEouI/ma/JuDg0Jza9yfR2EAgAAAAAAAAAgzMqpegLMOpgEFnDhYJ23FOmFjJbp5GmFXxzzv9+X6GVh+7W080KkC9v4f+SpRrnjjRjPj/x7AAC5dRdce2qVdgoAAAAAAAAAoIYBAAAAAAAA"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "enum": [
                        "2.0"
                      ]
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "$ref": "#/components/schemas/DryRunTransactionBlockResponse"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/#sui_executeTransactionBlock": {
      "post": {
        "operationId": "sui_executeTransactionBlock",
        "summary": "sui_executeTransactionBlock",
        "description": "Execute the transaction and wait for results if desired. Request types: 1. WaitForEffectsCert: waits for TransactionEffectsCert and then return to client.     This mode is a proxy for transaction finality. 2. WaitForLocalExecution: waits for TransactionEffectsCert and make sure the node     executed the transaction locally before returning the client. The local execution     makes sure this node is aware of this transaction when client fires subsequent queries.     However if the node fails to execute the transaction locally in a timely manner,     a bool type in the response is set to false to indicated the case. request_type is default to be `WaitForEffectsCert` unless options.show_events or options.show_effects is true",
        "tags": [
          "Write API"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "example": "2.0"
                  },
                  "id": {
                    "type": "integer",
                    "example": 1
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "sui_executeTransactionBlock"
                    ]
                  },
                  "params": {
                    "type": "array",
                    "description": "Parameters as positional array",
                    "items": {}
                  }
                }
              },
              "examples": {
                "example": {
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 1,
                    "method": "sui_executeTransactionBlock",
                    "params": [
                      "AAACACBqEB6aOvXIBwES+Ahkizbvv43uihqC3kbZUE6WoRCKFwEAjvdvVsOZYzousxC8qRJOXy84znOeqsu2YAaIgE4HhEgCAAAAAAAAACB9w3+ufZMpihJFwxtCBojBaGy00TVtFxgN2C6TpIPFqwEBAQEBAAEAAAS0l6kWtGVmCaf6gnoJGE1vR2gdO6dM4NejbGSysfiHAZ+Q9/hmzCnfsdpjc86U+dldylpA9OF2mRjuv5+64AvTAgAAAAAAAAAgjleHL0UiRGjh/BfIFHCJ3EMY/dQA22c2TvNQyVJnbYUEtJepFrRlZgmn+oJ6CRhNb0doHTunTODXo2xksrH4hwoAAAAAAAAAoIYBAAAAAAAA",
                      [
                        "AKD4XdltkCyBi1Heb4EJJ3lzuV3F4u7+CYeaE+Fd7qXpaT17yd4tHWjMf4CWq3TuXBLxTpkc2MV39P6p7eMV8QnqvbuA0Q1Bqu4RHV3JPpqmH+C527hWJGUBOZN1j9sg8w=="
                      ],
                      {
                        "showInput": true,
                        "showRawInput": true,
                        "showEffects": true,
                        "showEvents": true,
                        "showObjectChanges": true,
                        "showBalanceChanges": true,
                        "showRawEffects": false
                      },
                      "WaitForLocalExecution"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "enum": [
                        "2.0"
                      ]
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "$ref": "#/components/schemas/TransactionBlockResponse"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/#sui_getChainIdentifier": {
      "post": {
        "operationId": "sui_getChainIdentifier",
        "summary": "sui_getChainIdentifier",
        "description": "Return the first four bytes of the chain's genesis checkpoint digest.",
        "tags": [
          "Read API"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "example": "2.0"
                  },
                  "id": {
                    "type": "integer",
                    "example": 1
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "sui_getChainIdentifier"
                    ]
                  },
                  "params": {
                    "type": "array",
                    "description": "Parameters as positional array",
                    "items": {}
                  }
                }
              },
              "examples": {
                "example": {
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 1,
                    "method": "sui_getChainIdentifier",
                    "params": []
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "enum": [
                        "2.0"
                      ]
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "string"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/#sui_getCheckpoint": {
      "post": {
        "operationId": "sui_getCheckpoint",
        "summary": "sui_getCheckpoint",
        "description": "Return a checkpoint",
        "tags": [
          "Read API"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "example": "2.0"
                  },
                  "id": {
                    "type": "integer",
                    "example": 1
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "sui_getCheckpoint"
                    ]
                  },
                  "params": {
                    "type": "array",
                    "description": "Parameters as positional array",
                    "items": {}
                  }
                }
              },
              "examples": {
                "example": {
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 1,
                    "method": "sui_getCheckpoint",
                    "params": [
                      "1000"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "enum": [
                        "2.0"
                      ]
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "$ref": "#/components/schemas/Checkpoint"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/#sui_getCheckpoints": {
      "post": {
        "operationId": "sui_getCheckpoints",
        "summary": "sui_getCheckpoints",
        "description": "Return paginated list of checkpoints",
        "tags": [
          "Read API"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "example": "2.0"
                  },
                  "id": {
                    "type": "integer",
                    "example": 1
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "sui_getCheckpoints"
                    ]
                  },
                  "params": {
                    "type": "array",
                    "description": "Parameters as positional array",
                    "items": {}
                  }
                }
              },
              "examples": {
                "example": {
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 1,
                    "method": "sui_getCheckpoints",
                    "params": [
                      "1004",
                      4,
                      false
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "enum": [
                        "2.0"
                      ]
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "$ref": "#/components/schemas/Page_for_Checkpoint_and_BigInt_for_uint64"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/#sui_getEvents": {
      "post": {
        "operationId": "sui_getEvents",
        "summary": "sui_getEvents",
        "description": "Return transaction events.",
        "tags": [
          "Read API"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "example": "2.0"
                  },
                  "id": {
                    "type": "integer",
                    "example": 1
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "sui_getEvents"
                    ]
                  },
                  "params": {
                    "type": "array",
                    "description": "Parameters as positional array",
                    "items": {}
                  }
                }
              },
              "examples": {
                "example": {
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 1,
                    "method": "sui_getEvents",
                    "params": [
                      "11a72GCQ5hGNpWGh2QhQkkusTEGS6EDqifJqxr7nSYX"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "enum": [
                        "2.0"
                      ]
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Event"
                      }
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/#sui_getLatestCheckpointSequenceNumber": {
      "post": {
        "operationId": "sui_getLatestCheckpointSequenceNumber",
        "summary": "sui_getLatestCheckpointSequenceNumber",
        "description": "Return the sequence number of the latest checkpoint that has been executed",
        "tags": [
          "Read API"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "example": "2.0"
                  },
                  "id": {
                    "type": "integer",
                    "example": 1
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "sui_getLatestCheckpointSequenceNumber"
                    ]
                  },
                  "params": {
                    "type": "array",
                    "description": "Parameters as positional array",
                    "items": {}
                  }
                }
              },
              "examples": {
                "example": {
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 1,
                    "method": "sui_getLatestCheckpointSequenceNumber",
                    "params": []
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "enum": [
                        "2.0"
                      ]
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "$ref": "#/components/schemas/BigInt_for_uint64"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/#sui_getMoveFunctionArgTypes": {
      "post": {
        "operationId": "sui_getMoveFunctionArgTypes",
        "summary": "sui_getMoveFunctionArgTypes",
        "description": "Return the argument types of a Move function, based on normalized Type.",
        "tags": [
          "Move Utils"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "example": "2.0"
                  },
                  "id": {
                    "type": "integer",
                    "example": 1
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "sui_getMoveFunctionArgTypes"
                    ]
                  },
                  "params": {
                    "type": "array",
                    "description": "Parameters as positional array",
                    "items": {}
                  }
                }
              },
              "examples": {
                "example": {
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 1,
                    "method": "sui_getMoveFunctionArgTypes",
                    "params": [
                      "0xa0a7b108f5023b7356f2c6a4be6f058e267aae38e08260c7d519d8641897490c",
                      "suifrens",
                      "mint"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "enum": [
                        "2.0"
                      ]
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MoveFunctionArgType"
                      }
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/#sui_getNormalizedMoveFunction": {
      "post": {
        "operationId": "sui_getNormalizedMoveFunction",
        "summary": "sui_getNormalizedMoveFunction",
        "description": "Return a structured representation of Move function",
        "tags": [
          "Move Utils"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "example": "2.0"
                  },
                  "id": {
                    "type": "integer",
                    "example": 1
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "sui_getNormalizedMoveFunction"
                    ]
                  },
                  "params": {
                    "type": "array",
                    "description": "Parameters as positional array",
                    "items": {}
                  }
                }
              },
              "examples": {
                "example": {
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 1,
                    "method": "sui_getNormalizedMoveFunction",
                    "params": [
                      "0x9c4eb6769ca8b6a23efeb7298cf0a8d0b837b78749c2cfc711c42036cc6b7621",
                      "moduleName",
                      "functionName"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "enum": [
                        "2.0"
                      ]
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "$ref": "#/components/schemas/SuiMoveNormalizedFunction"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/#sui_getNormalizedMoveModule": {
      "post": {
        "operationId": "sui_getNormalizedMoveModule",
        "summary": "sui_getNormalizedMoveModule",
        "description": "Return a structured representation of Move module",
        "tags": [
          "Move Utils"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "example": "2.0"
                  },
                  "id": {
                    "type": "integer",
                    "example": 1
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "sui_getNormalizedMoveModule"
                    ]
                  },
                  "params": {
                    "type": "array",
                    "description": "Parameters as positional array",
                    "items": {}
                  }
                }
              },
              "examples": {
                "example": {
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 1,
                    "method": "sui_getNormalizedMoveModule",
                    "params": [
                      "0x0047d5fa0a823e7d0ff4d55c32b09995a0ae1eedfee9c7b1354e805ed10ee3d0",
                      "module"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "enum": [
                        "2.0"
                      ]
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "$ref": "#/components/schemas/SuiMoveNormalizedModule"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/#sui_getNormalizedMoveModulesByPackage": {
      "post": {
        "operationId": "sui_getNormalizedMoveModulesByPackage",
        "summary": "sui_getNormalizedMoveModulesByPackage",
        "description": "Return structured representations of all modules in the given package",
        "tags": [
          "Move Utils"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "example": "2.0"
                  },
                  "id": {
                    "type": "integer",
                    "example": 1
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "sui_getNormalizedMoveModulesByPackage"
                    ]
                  },
                  "params": {
                    "type": "array",
                    "description": "Parameters as positional array",
                    "items": {}
                  }
                }
              },
              "examples": {
                "example": {
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 1,
                    "method": "sui_getNormalizedMoveModulesByPackage",
                    "params": [
                      "0x61630d3505f8905a0f4d42c6ff39a78a6ba2b28f68a3299ec3417bbabc6717dc"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "enum": [
                        "2.0"
                      ]
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "$ref": "#/components/schemas/SuiMoveNormalizedModule"
                      }
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/#sui_getNormalizedMoveStruct": {
      "post": {
        "operationId": "sui_getNormalizedMoveStruct",
        "summary": "sui_getNormalizedMoveStruct",
        "description": "Return a structured representation of Move struct",
        "tags": [
          "Move Utils"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "example": "2.0"
                  },
                  "id": {
                    "type": "integer",
                    "example": 1
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "sui_getNormalizedMoveStruct"
                    ]
                  },
                  "params": {
                    "type": "array",
                    "description": "Parameters as positional array",
                    "items": {}
                  }
                }
              },
              "examples": {
                "example": {
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 1,
                    "method": "sui_getNormalizedMoveStruct",
                    "params": [
                      "0xc95b9e341bc3aba1654bdbad707dcd773bd6309363447ef3fe58a960de92aa93",
                      "module",
                      "StructName"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "enum": [
                        "2.0"
                      ]
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "$ref": "#/components/schemas/SuiMoveNormalizedStruct"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/#sui_getObject": {
      "post": {
        "operationId": "sui_getObject",
        "summary": "sui_getObject",
        "description": "Return the object information for a specified object",
        "tags": [
          "Read API"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "example": "2.0"
                  },
                  "id": {
                    "type": "integer",
                    "example": 1
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "sui_getObject"
                    ]
                  },
                  "params": {
                    "type": "array",
                    "description": "Parameters as positional array",
                    "items": {}
                  }
                }
              },
              "examples": {
                "example": {
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 1,
                    "method": "sui_getObject",
                    "params": [
                      "0x53e4567ccafa5f36ce84c80aa8bc9be64e0d5ae796884274aef3005ae6733809",
                      {
                        "showType": true,
                        "showOwner": true,
                        "showPreviousTransaction": true,
                        "showDisplay": false,
                        "showContent": true,
                        "showBcs": false,
                        "showStorageRebate": true
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "enum": [
                        "2.0"
                      ]
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "$ref": "#/components/schemas/SuiObjectResponse"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/#sui_getProtocolConfig": {
      "post": {
        "operationId": "sui_getProtocolConfig",
        "summary": "sui_getProtocolConfig",
        "description": "Return the protocol config table for the given version number. If none is specified, the node uses the version of the latest epoch it has processed.",
        "tags": [
          "Read API"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "example": "2.0"
                  },
                  "id": {
                    "type": "integer",
                    "example": 1
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "sui_getProtocolConfig"
                    ]
                  },
                  "params": {
                    "type": "array",
                    "description": "Parameters as positional array",
                    "items": {}
                  }
                }
              },
              "examples": {
                "example": {
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 1,
                    "method": "sui_getProtocolConfig",
                    "params": [
                      6
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "enum": [
                        "2.0"
                      ]
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "$ref": "#/components/schemas/ProtocolConfig"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/#sui_getTotalTransactionBlocks": {
      "post": {
        "operationId": "sui_getTotalTransactionBlocks",
        "summary": "sui_getTotalTransactionBlocks",
        "description": "Return the total number of transaction blocks known to the server.",
        "tags": [
          "Read API"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "example": "2.0"
                  },
                  "id": {
                    "type": "integer",
                    "example": 1
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "sui_getTotalTransactionBlocks"
                    ]
                  },
                  "params": {
                    "type": "array",
                    "description": "Parameters as positional array",
                    "items": {}
                  }
                }
              },
              "examples": {
                "example": {
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 1,
                    "method": "sui_getTotalTransactionBlocks",
                    "params": []
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "enum": [
                        "2.0"
                      ]
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "$ref": "#/components/schemas/BigInt_for_uint64"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/#sui_getTransactionBlock": {
      "post": {
        "operationId": "sui_getTransactionBlock",
        "summary": "sui_getTransactionBlock",
        "description": "Return the transaction response object.",
        "tags": [
          "Read API"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "example": "2.0"
                  },
                  "id": {
                    "type": "integer",
                    "example": 1
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "sui_getTransactionBlock"
                    ]
                  },
                  "params": {
                    "type": "array",
                    "description": "Parameters as positional array",
                    "items": {}
                  }
                }
              },
              "examples": {
                "example": {
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 1,
                    "method": "sui_getTransactionBlock",
                    "params": [
                      "Hay2tj3GcDYcE3AMHrej5WDsHGPVAYsegcubixLUvXUF",
                      {
                        "showInput": true,
                        "showRawInput": false,
                        "showEffects": true,
                        "showEvents": true,
                        "showObjectChanges": false,
                        "showBalanceChanges": false,
                        "showRawEffects": false
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "enum": [
                        "2.0"
                      ]
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "$ref": "#/components/schemas/TransactionBlockResponse"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/#sui_multiGetObjects": {
      "post": {
        "operationId": "sui_multiGetObjects",
        "summary": "sui_multiGetObjects",
        "description": "Return the object data for a list of objects",
        "tags": [
          "Read API"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "example": "2.0"
                  },
                  "id": {
                    "type": "integer",
                    "example": 1
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "sui_multiGetObjects"
                    ]
                  },
                  "params": {
                    "type": "array",
                    "description": "Parameters as positional array",
                    "items": {}
                  }
                }
              },
              "examples": {
                "example": {
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 1,
                    "method": "sui_multiGetObjects",
                    "params": [
                      [
                        "0x77b3482580ee8d5bdc5b824808df54bfec4fc817622e5add0e48f749f01def98",
                        "0x9060d87664c26a3f9a509228c21b16dc6797cf787c839a07edc03e6338421091",
                        "0xb37379c527753c5c8ab783f697e7b61439368cd75ebe63d633af32ffb4a022d1",
                        "0xee309e94ff5c9f6b02c5637f018f6ea7bed8f6c3d80f2a595c2305e12dd6d07c",
                        "0x29bc7c8d230db3b417edb1184cf075da5e934f672d3da3e003d989075efaecc7"
                      ],
                      {
                        "showType": true,
                        "showOwner": true,
                        "showPreviousTransaction": true,
                        "showDisplay": false,
                        "showContent": true,
                        "showBcs": false,
                        "showStorageRebate": true
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "enum": [
                        "2.0"
                      ]
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SuiObjectResponse"
                      }
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/#sui_multiGetTransactionBlocks": {
      "post": {
        "operationId": "sui_multiGetTransactionBlocks",
        "summary": "sui_multiGetTransactionBlocks",
        "description": "Returns an ordered list of transaction responses The method will throw an error if the input contains any duplicate or the input size exceeds QUERY_MAX_RESULT_LIMIT",
        "tags": [
          "Read API"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "example": "2.0"
                  },
                  "id": {
                    "type": "integer",
                    "example": 1
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "sui_multiGetTransactionBlocks"
                    ]
                  },
                  "params": {
                    "type": "array",
                    "description": "Parameters as positional array",
                    "items": {}
                  }
                }
              },
              "examples": {
                "example": {
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 1,
                    "method": "sui_multiGetTransactionBlocks",
                    "params": [
                      [
                        "EMqJqkQip6UaTkdff493ewAQNHGQFJwXDDn6m9CTgZzo",
                        "Hn3B25vTQNTFAdThFkWvfkiAAUZxzwTaj4uEengu1ACX",
                        "9vLSG9a4QcLcMdG1xCu6FRdXAjWWqvJHoHBCJfPMKkR9"
                      ],
                      {
                        "showInput": true,
                        "showRawInput": false,
                        "showEffects": true,
                        "showEvents": true,
                        "showObjectChanges": false,
                        "showBalanceChanges": false,
                        "showRawEffects": false
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "enum": [
                        "2.0"
                      ]
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TransactionBlockResponse"
                      }
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/#sui_tryGetPastObject": {
      "post": {
        "operationId": "sui_tryGetPastObject",
        "summary": "sui_tryGetPastObject",
        "description": "Note there is no software-level guarantee/SLA that objects with past versions can be retrieved by this API, even if the object and version exists/existed. The result may vary across nodes depending on their pruning policies. Return the object information for a specified version",
        "tags": [
          "Read API"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "example": "2.0"
                  },
                  "id": {
                    "type": "integer",
                    "example": 1
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "sui_tryGetPastObject"
                    ]
                  },
                  "params": {
                    "type": "array",
                    "description": "Parameters as positional array",
                    "items": {}
                  }
                }
              },
              "examples": {
                "example": {
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 1,
                    "method": "sui_tryGetPastObject",
                    "params": [
                      "0x11af4b844ff94b3fbef6e36b518da3ad4c5856fa686464524a876b463d129760",
                      4,
                      {
                        "showType": true,
                        "showOwner": true,
                        "showPreviousTransaction": true,
                        "showDisplay": false,
                        "showContent": true,
                        "showBcs": false,
                        "showStorageRebate": true
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "enum": [
                        "2.0"
                      ]
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "$ref": "#/components/schemas/ObjectRead"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/#sui_tryMultiGetPastObjects": {
      "post": {
        "operationId": "sui_tryMultiGetPastObjects",
        "summary": "sui_tryMultiGetPastObjects",
        "description": "Note there is no software-level guarantee/SLA that objects with past versions can be retrieved by this API, even if the object and version exists/existed. The result may vary across nodes depending on their pruning policies. Return the object information for a specified version",
        "tags": [
          "Read API"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "example": "2.0"
                  },
                  "id": {
                    "type": "integer",
                    "example": 1
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "sui_tryMultiGetPastObjects"
                    ]
                  },
                  "params": {
                    "type": "array",
                    "description": "Parameters as positional array",
                    "items": {}
                  }
                }
              },
              "examples": {
                "example": {
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 1,
                    "method": "sui_tryMultiGetPastObjects",
                    "params": [
                      [
                        {
                          "objectId": "0x38b3186a7bb26a1ab2c982a0a9b482aa70f5a010fffc60f20194ef0f597474e8",
                          "version": "4"
                        },
                        {
                          "objectId": "0xceaf9ee4582d3a233101e322a22cb2a5bea2e681ea5af4e59bd1abb0bb4fcb27",
                          "version": "12"
                        }
                      ],
                      {
                        "showType": true,
                        "showOwner": true,
                        "showPreviousTransaction": true,
                        "showDisplay": false,
                        "showContent": true,
                        "showBcs": false,
                        "showStorageRebate": true
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "enum": [
                        "2.0"
                      ]
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ObjectRead"
                      }
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/#sui_verifyZkLoginSignature": {
      "post": {
        "operationId": "sui_verifyZkLoginSignature",
        "summary": "sui_verifyZkLoginSignature",
        "description": "Verify a zklogin signature for the given bytes, intent scope and author.",
        "tags": [
          "Read API"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "example": "2.0"
                  },
                  "id": {
                    "type": "integer",
                    "example": 1
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "sui_verifyZkLoginSignature"
                    ]
                  },
                  "params": {
                    "type": "array",
                    "description": "Parameters as positional array",
                    "items": {}
                  }
                }
              },
              "examples": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "enum": [
                        "2.0"
                      ]
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "$ref": "#/components/schemas/ZkLoginVerifyResult"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/#suix_getAllBalances": {
      "post": {
        "operationId": "suix_getAllBalances",
        "summary": "suix_getAllBalances",
        "description": "Return the total coin balance for all coin type, owned by the address owner.",
        "tags": [
          "Coin Query API"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "example": "2.0"
                  },
                  "id": {
                    "type": "integer",
                    "example": 1
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "suix_getAllBalances"
                    ]
                  },
                  "params": {
                    "type": "array",
                    "description": "Parameters as positional array",
                    "items": {}
                  }
                }
              },
              "examples": {
                "example": {
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 1,
                    "method": "suix_getAllBalances",
                    "params": [
                      "0x94f1a597b4e8f709a396f7f6b1482bdcd65a673d111e49286c527fab7c2d0961"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "enum": [
                        "2.0"
                      ]
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Balance"
                      }
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/#suix_getAllCoins": {
      "post": {
        "operationId": "suix_getAllCoins",
        "summary": "suix_getAllCoins",
        "description": "Return all Coin objects owned by an address.",
        "tags": [
          "Coin Query API"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "example": "2.0"
                  },
                  "id": {
                    "type": "integer",
                    "example": 1
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "suix_getAllCoins"
                    ]
                  },
                  "params": {
                    "type": "array",
                    "description": "Parameters as positional array",
                    "items": {}
                  }
                }
              },
              "examples": {
                "example": {
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 1,
                    "method": "suix_getAllCoins",
                    "params": [
                      "0x41f5975e3c6bd5c95f041a8493ad7e9934be26e69152d2c2e86d8a9bdbd242b3",
                      "0x2564cd31a71cf9833609b111436d8f0f47b7f8b9927ec3f8975a1dcbf9b25564",
                      3
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "enum": [
                        "2.0"
                      ]
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "$ref": "#/components/schemas/Page_for_Coin_and_String"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/#suix_getBalance": {
      "post": {
        "operationId": "suix_getBalance",
        "summary": "suix_getBalance",
        "description": "Return the total coin balance for one coin type, owned by the address owner.",
        "tags": [
          "Coin Query API"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "example": "2.0"
                  },
                  "id": {
                    "type": "integer",
                    "example": 1
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "suix_getBalance"
                    ]
                  },
                  "params": {
                    "type": "array",
                    "description": "Parameters as positional array",
                    "items": {}
                  }
                }
              },
              "examples": {
                "example": {
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 1,
                    "method": "suix_getBalance",
                    "params": [
                      "0xa6f5a7953a75dc632e696cabe60560522a017bf2fb0bd930d1ec22c06f1ee4e4",
                      "0x168da5bf1f48dafc111b0a488fa454aca95e0b5e::usdc::USDC"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "enum": [
                        "2.0"
                      ]
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "$ref": "#/components/schemas/Balance"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/#suix_getCoinMetadata": {
      "post": {
        "operationId": "suix_getCoinMetadata",
        "summary": "suix_getCoinMetadata",
        "description": "Return metadata (e.g., symbol, decimals) for a coin. Note that if the coin's metadata was wrapped in the transaction that published its marker type, or the latest version of the metadata object is wrapped or deleted, it will not be found.",
        "tags": [
          "Coin Query API"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "example": "2.0"
                  },
                  "id": {
                    "type": "integer",
                    "example": 1
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "suix_getCoinMetadata"
                    ]
                  },
                  "params": {
                    "type": "array",
                    "description": "Parameters as positional array",
                    "items": {}
                  }
                }
              },
              "examples": {
                "example": {
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 1,
                    "method": "suix_getCoinMetadata",
                    "params": [
                      "0x168da5bf1f48dafc111b0a488fa454aca95e0b5e::usdc::USDC"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "enum": [
                        "2.0"
                      ]
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "$ref": "#/components/schemas/SuiCoinMetadata"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/#suix_getCoins": {
      "post": {
        "operationId": "suix_getCoins",
        "summary": "suix_getCoins",
        "description": "Return all Coin<`coin_type`> objects owned by an address.",
        "tags": [
          "Coin Query API"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "example": "2.0"
                  },
                  "id": {
                    "type": "integer",
                    "example": 1
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "suix_getCoins"
                    ]
                  },
                  "params": {
                    "type": "array",
                    "description": "Parameters as positional array",
                    "items": {}
                  }
                }
              },
              "examples": {
                "example": {
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 1,
                    "method": "suix_getCoins",
                    "params": [
                      "0x6d907beaa3a49db57bdfdb3557e6d405cbf01c293a53e01457d65e92b5d8dd68",
                      "0x2::sui::SUI",
                      "0xee6b5173afedb35330f60397c2cbb48196ba41921246c304be7b490cee0904eb",
                      3
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "enum": [
                        "2.0"
                      ]
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "$ref": "#/components/schemas/Page_for_Coin_and_String"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/#suix_getCommitteeInfo": {
      "post": {
        "operationId": "suix_getCommitteeInfo",
        "summary": "suix_getCommitteeInfo",
        "description": "Return the committee information for the asked `epoch`.",
        "tags": [
          "Governance Read API"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "example": "2.0"
                  },
                  "id": {
                    "type": "integer",
                    "example": 1
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "suix_getCommitteeInfo"
                    ]
                  },
                  "params": {
                    "type": "array",
                    "description": "Parameters as positional array",
                    "items": {}
                  }
                }
              },
              "examples": {
                "example": {
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 1,
                    "method": "suix_getCommitteeInfo",
                    "params": [
                      "5000"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "enum": [
                        "2.0"
                      ]
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "$ref": "#/components/schemas/CommitteeInfo"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/#suix_getDynamicFieldObject": {
      "post": {
        "operationId": "suix_getDynamicFieldObject",
        "summary": "suix_getDynamicFieldObject",
        "description": "Return the dynamic field object information for a specified object",
        "tags": [
          "Extended API"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "example": "2.0"
                  },
                  "id": {
                    "type": "integer",
                    "example": 1
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "suix_getDynamicFieldObject"
                    ]
                  },
                  "params": {
                    "type": "array",
                    "description": "Parameters as positional array",
                    "items": {}
                  }
                }
              },
              "examples": {
                "example": {
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 1,
                    "method": "suix_getDynamicFieldObject",
                    "params": [
                      "0x3ddea0f8c3da994d9ead562ce76e36fdef6a382da344930c73d1298b0e9644b8",
                      {
                        "type": "0x0000000000000000000000000000000000000000000000000000000000000009::test::TestField",
                        "value": "some_value"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "enum": [
                        "2.0"
                      ]
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "$ref": "#/components/schemas/SuiObjectResponse"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/#suix_getDynamicFields": {
      "post": {
        "operationId": "suix_getDynamicFields",
        "summary": "suix_getDynamicFields",
        "description": "Return the list of dynamic field objects owned by an object.",
        "tags": [
          "Extended API"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "example": "2.0"
                  },
                  "id": {
                    "type": "integer",
                    "example": 1
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "suix_getDynamicFields"
                    ]
                  },
                  "params": {
                    "type": "array",
                    "description": "Parameters as positional array",
                    "items": {}
                  }
                }
              },
              "examples": {
                "example": {
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 1,
                    "method": "suix_getDynamicFields",
                    "params": [
                      "0x5612581eba57ebe7e594b809ccceec2be4dac6ff6945d49b3ecc043d049611f6",
                      "0x671832358f25bfacde706e528df4e15bb8de6dadd21835dfe44f4973139c15f9",
                      3
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "enum": [
                        "2.0"
                      ]
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "$ref": "#/components/schemas/Page_for_DynamicFieldInfo_and_ObjectID"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/#suix_getLatestSuiSystemState": {
      "post": {
        "operationId": "suix_getLatestSuiSystemState",
        "summary": "suix_getLatestSuiSystemState",
        "description": "Return the latest SUI system state object on-chain.",
        "tags": [
          "Governance Read API"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "example": "2.0"
                  },
                  "id": {
                    "type": "integer",
                    "example": 1
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "suix_getLatestSuiSystemState"
                    ]
                  },
                  "params": {
                    "type": "array",
                    "description": "Parameters as positional array",
                    "items": {}
                  }
                }
              },
              "examples": {
                "example": {
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 1,
                    "method": "suix_getLatestSuiSystemState",
                    "params": []
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "enum": [
                        "2.0"
                      ]
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "$ref": "#/components/schemas/SuiSystemStateSummary"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/#suix_getOwnedObjects": {
      "post": {
        "operationId": "suix_getOwnedObjects",
        "summary": "suix_getOwnedObjects",
[...]
