openapi: 3.0.3
info:
  title: Sui JSON-RPC Coin Query API Read API API
  description: Sui JSON-RPC API for interaction with Sui Full node. Make RPC calls using https://fullnode.NETWORK.sui.io:443, where NETWORK is the network you want to use (testnet, devnet, mainnet). By default, local networks use port 9000.
  contact:
    name: Mysten Labs
    url: https://mystenlabs.com
    email: build@mystenlabs.com
  license:
    name: Apache-2.0
    url: https://raw.githubusercontent.com/MystenLabs/sui/main/LICENSE
  version: 1.74.0
servers:
- url: https://fullnode.mainnet.sui.io:443
  description: Sui Mainnet
- url: https://fullnode.testnet.sui.io:443
  description: Sui Testnet
- url: https://fullnode.devnet.sui.io:443
  description: Sui Devnet
- url: http://localhost:9000
  description: Local node (default port)
tags:
- name: Read API
  description: Methods for reading blockchain state
paths:
  /#sui_getChainIdentifier:
    post:
      operationId: sui_getChainIdentifier
      summary: sui_getChainIdentifier
      description: Return the first four bytes of the chain's genesis checkpoint digest.
      tags:
      - Read API
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              properties:
                jsonrpc:
                  type: string
                  enum:
                  - '2.0'
                  example: '2.0'
                id:
                  type: integer
                  example: 1
                method:
                  type: string
                  enum:
                  - sui_getChainIdentifier
                params:
                  type: array
                  description: Parameters as positional array
                  items: {}
            examples:
              example:
                value:
                  jsonrpc: '2.0'
                  id: 1
                  method: sui_getChainIdentifier
                  params: []
      responses:
        '200':
          description: JSON-RPC response
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    enum:
                    - '2.0'
                  id:
                    type: integer
                  result:
                    type: string
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                      data: {}
  /#sui_getCheckpoint:
    post:
      operationId: sui_getCheckpoint
      summary: sui_getCheckpoint
      description: Return a checkpoint
      tags:
      - Read API
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              properties:
                jsonrpc:
                  type: string
                  enum:
                  - '2.0'
                  example: '2.0'
                id:
                  type: integer
                  example: 1
                method:
                  type: string
                  enum:
                  - sui_getCheckpoint
                params:
                  type: array
                  description: Parameters as positional array
                  items: {}
            examples:
              example:
                value:
                  jsonrpc: '2.0'
                  id: 1
                  method: sui_getCheckpoint
                  params:
                  - '1000'
      responses:
        '200':
          description: JSON-RPC response
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    enum:
                    - '2.0'
                  id:
                    type: integer
                  result:
                    $ref: '#/components/schemas/Checkpoint'
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                      data: {}
  /#sui_getCheckpoints:
    post:
      operationId: sui_getCheckpoints
      summary: sui_getCheckpoints
      description: Return paginated list of checkpoints
      tags:
      - Read API
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              properties:
                jsonrpc:
                  type: string
                  enum:
                  - '2.0'
                  example: '2.0'
                id:
                  type: integer
                  example: 1
                method:
                  type: string
                  enum:
                  - sui_getCheckpoints
                params:
                  type: array
                  description: Parameters as positional array
                  items: {}
            examples:
              example:
                value:
                  jsonrpc: '2.0'
                  id: 1
                  method: sui_getCheckpoints
                  params:
                  - '1004'
                  - 4
                  - false
      responses:
        '200':
          description: JSON-RPC response
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    enum:
                    - '2.0'
                  id:
                    type: integer
                  result:
                    $ref: '#/components/schemas/Page_for_Checkpoint_and_BigInt_for_uint64'
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                      data: {}
  /#sui_getEvents:
    post:
      operationId: sui_getEvents
      summary: sui_getEvents
      description: Return transaction events.
      tags:
      - Read API
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              properties:
                jsonrpc:
                  type: string
                  enum:
                  - '2.0'
                  example: '2.0'
                id:
                  type: integer
                  example: 1
                method:
                  type: string
                  enum:
                  - sui_getEvents
                params:
                  type: array
                  description: Parameters as positional array
                  items: {}
            examples:
              example:
                value:
                  jsonrpc: '2.0'
                  id: 1
                  method: sui_getEvents
                  params:
                  - 11a72GCQ5hGNpWGh2QhQkkusTEGS6EDqifJqxr7nSYX
      responses:
        '200':
          description: JSON-RPC response
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    enum:
                    - '2.0'
                  id:
                    type: integer
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/Event'
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                      data: {}
  /#sui_getLatestCheckpointSequenceNumber:
    post:
      operationId: sui_getLatestCheckpointSequenceNumber
      summary: sui_getLatestCheckpointSequenceNumber
      description: Return the sequence number of the latest checkpoint that has been executed
      tags:
      - Read API
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              properties:
                jsonrpc:
                  type: string
                  enum:
                  - '2.0'
                  example: '2.0'
                id:
                  type: integer
                  example: 1
                method:
                  type: string
                  enum:
                  - sui_getLatestCheckpointSequenceNumber
                params:
                  type: array
                  description: Parameters as positional array
                  items: {}
            examples:
              example:
                value:
                  jsonrpc: '2.0'
                  id: 1
                  method: sui_getLatestCheckpointSequenceNumber
                  params: []
      responses:
        '200':
          description: JSON-RPC response
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    enum:
                    - '2.0'
                  id:
                    type: integer
                  result:
                    $ref: '#/components/schemas/BigInt_for_uint64'
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                      data: {}
  /#sui_getObject:
    post:
      operationId: sui_getObject
      summary: sui_getObject
      description: Return the object information for a specified object
      tags:
      - Read API
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              properties:
                jsonrpc:
                  type: string
                  enum:
                  - '2.0'
                  example: '2.0'
                id:
                  type: integer
                  example: 1
                method:
                  type: string
                  enum:
                  - sui_getObject
                params:
                  type: array
                  description: Parameters as positional array
                  items: {}
            examples:
              example:
                value:
                  jsonrpc: '2.0'
                  id: 1
                  method: sui_getObject
                  params:
                  - '0x53e4567ccafa5f36ce84c80aa8bc9be64e0d5ae796884274aef3005ae6733809'
                  - showType: true
                    showOwner: true
                    showPreviousTransaction: true
                    showDisplay: false
                    showContent: true
                    showBcs: false
                    showStorageRebate: true
      responses:
        '200':
          description: JSON-RPC response
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    enum:
                    - '2.0'
                  id:
                    type: integer
                  result:
                    $ref: '#/components/schemas/SuiObjectResponse'
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                      data: {}
  /#sui_getProtocolConfig:
    post:
      operationId: sui_getProtocolConfig
      summary: sui_getProtocolConfig
      description: Return the protocol config table for the given version number. If none is specified, the node uses the version of the latest epoch it has processed.
      tags:
      - Read API
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              properties:
                jsonrpc:
                  type: string
                  enum:
                  - '2.0'
                  example: '2.0'
                id:
                  type: integer
                  example: 1
                method:
                  type: string
                  enum:
                  - sui_getProtocolConfig
                params:
                  type: array
                  description: Parameters as positional array
                  items: {}
            examples:
              example:
                value:
                  jsonrpc: '2.0'
                  id: 1
                  method: sui_getProtocolConfig
                  params:
                  - 6
      responses:
        '200':
          description: JSON-RPC response
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    enum:
                    - '2.0'
                  id:
                    type: integer
                  result:
                    $ref: '#/components/schemas/ProtocolConfig'
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                      data: {}
  /#sui_getTotalTransactionBlocks:
    post:
      operationId: sui_getTotalTransactionBlocks
      summary: sui_getTotalTransactionBlocks
      description: Return the total number of transaction blocks known to the server.
      tags:
      - Read API
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              properties:
                jsonrpc:
                  type: string
                  enum:
                  - '2.0'
                  example: '2.0'
                id:
                  type: integer
                  example: 1
                method:
                  type: string
                  enum:
                  - sui_getTotalTransactionBlocks
                params:
                  type: array
                  description: Parameters as positional array
                  items: {}
            examples:
              example:
                value:
                  jsonrpc: '2.0'
                  id: 1
                  method: sui_getTotalTransactionBlocks
                  params: []
      responses:
        '200':
          description: JSON-RPC response
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    enum:
                    - '2.0'
                  id:
                    type: integer
                  result:
                    $ref: '#/components/schemas/BigInt_for_uint64'
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                      data: {}
  /#sui_getTransactionBlock:
    post:
      operationId: sui_getTransactionBlock
      summary: sui_getTransactionBlock
      description: Return the transaction response object.
      tags:
      - Read API
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              properties:
                jsonrpc:
                  type: string
                  enum:
                  - '2.0'
                  example: '2.0'
                id:
                  type: integer
                  example: 1
                method:
                  type: string
                  enum:
                  - sui_getTransactionBlock
                params:
                  type: array
                  description: Parameters as positional array
                  items: {}
            examples:
              example:
                value:
                  jsonrpc: '2.0'
                  id: 1
                  method: sui_getTransactionBlock
                  params:
                  - Hay2tj3GcDYcE3AMHrej5WDsHGPVAYsegcubixLUvXUF
                  - showInput: true
                    showRawInput: false
                    showEffects: true
                    showEvents: true
                    showObjectChanges: false
                    showBalanceChanges: false
                    showRawEffects: false
      responses:
        '200':
          description: JSON-RPC response
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    enum:
                    - '2.0'
                  id:
                    type: integer
                  result:
                    $ref: '#/components/schemas/TransactionBlockResponse'
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                      data: {}
  /#sui_multiGetObjects:
    post:
      operationId: sui_multiGetObjects
      summary: sui_multiGetObjects
      description: Return the object data for a list of objects
      tags:
      - Read API
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              properties:
                jsonrpc:
                  type: string
                  enum:
                  - '2.0'
                  example: '2.0'
                id:
                  type: integer
                  example: 1
                method:
                  type: string
                  enum:
                  - sui_multiGetObjects
                params:
                  type: array
                  description: Parameters as positional array
                  items: {}
            examples:
              example:
                value:
                  jsonrpc: '2.0'
                  id: 1
                  method: sui_multiGetObjects
                  params:
                  - - '0x77b3482580ee8d5bdc5b824808df54bfec4fc817622e5add0e48f749f01def98'
                    - '0x9060d87664c26a3f9a509228c21b16dc6797cf787c839a07edc03e6338421091'
                    - '0xb37379c527753c5c8ab783f697e7b61439368cd75ebe63d633af32ffb4a022d1'
                    - '0xee309e94ff5c9f6b02c5637f018f6ea7bed8f6c3d80f2a595c2305e12dd6d07c'
                    - '0x29bc7c8d230db3b417edb1184cf075da5e934f672d3da3e003d989075efaecc7'
                  - showType: true
                    showOwner: true
                    showPreviousTransaction: true
                    showDisplay: false
                    showContent: true
                    showBcs: false
                    showStorageRebate: true
      responses:
        '200':
          description: JSON-RPC response
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    enum:
                    - '2.0'
                  id:
                    type: integer
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/SuiObjectResponse'
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                      data: {}
  /#sui_multiGetTransactionBlocks:
    post:
      operationId: sui_multiGetTransactionBlocks
      summary: sui_multiGetTransactionBlocks
      description: Returns an ordered list of transaction responses The method will throw an error if the input contains any duplicate or the input size exceeds QUERY_MAX_RESULT_LIMIT
      tags:
      - Read API
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              properties:
                jsonrpc:
                  type: string
                  enum:
                  - '2.0'
                  example: '2.0'
                id:
                  type: integer
                  example: 1
                method:
                  type: string
                  enum:
                  - sui_multiGetTransactionBlocks
                params:
                  type: array
                  description: Parameters as positional array
                  items: {}
            examples:
              example:
                value:
                  jsonrpc: '2.0'
                  id: 1
                  method: sui_multiGetTransactionBlocks
                  params:
                  - - EMqJqkQip6UaTkdff493ewAQNHGQFJwXDDn6m9CTgZzo
                    - Hn3B25vTQNTFAdThFkWvfkiAAUZxzwTaj4uEengu1ACX
                    - 9vLSG9a4QcLcMdG1xCu6FRdXAjWWqvJHoHBCJfPMKkR9
                  - showInput: true
                    showRawInput: false
                    showEffects: true
                    showEvents: true
                    showObjectChanges: false
                    showBalanceChanges: false
                    showRawEffects: false
      responses:
        '200':
          description: JSON-RPC response
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    enum:
                    - '2.0'
                  id:
                    type: integer
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/TransactionBlockResponse'
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                      data: {}
  /#sui_tryGetPastObject:
    post:
      operationId: sui_tryGetPastObject
      summary: sui_tryGetPastObject
      description: Note there is no software-level guarantee/SLA that objects with past versions can be retrieved by this API, even if the object and version exists/existed. The result may vary across nodes depending on their pruning policies. Return the object information for a specified version
      tags:
      - Read API
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              properties:
                jsonrpc:
                  type: string
                  enum:
                  - '2.0'
                  example: '2.0'
                id:
                  type: integer
                  example: 1
                method:
                  type: string
                  enum:
                  - sui_tryGetPastObject
                params:
                  type: array
                  description: Parameters as positional array
                  items: {}
            examples:
              example:
                value:
                  jsonrpc: '2.0'
                  id: 1
                  method: sui_tryGetPastObject
                  params:
                  - '0x11af4b844ff94b3fbef6e36b518da3ad4c5856fa686464524a876b463d129760'
                  - 4
                  - showType: true
                    showOwner: true
                    showPreviousTransaction: true
                    showDisplay: false
                    showContent: true
                    showBcs: false
                    showStorageRebate: true
      responses:
        '200':
          description: JSON-RPC response
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    enum:
                    - '2.0'
                  id:
                    type: integer
                  result:
                    $ref: '#/components/schemas/ObjectRead'
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                      data: {}
  /#sui_tryMultiGetPastObjects:
    post:
      operationId: sui_tryMultiGetPastObjects
      summary: sui_tryMultiGetPastObjects
      description: Note there is no software-level guarantee/SLA that objects with past versions can be retrieved by this API, even if the object and version exists/existed. The result may vary across nodes depending on their pruning policies. Return the object information for a specified version
      tags:
      - Read API
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              properties:
                jsonrpc:
                  type: string
                  enum:
                  - '2.0'
                  example: '2.0'
                id:
                  type: integer
                  example: 1
                method:
                  type: string
                  enum:
                  - sui_tryMultiGetPastObjects
                params:
                  type: array
                  description: Parameters as positional array
                  items: {}
            examples:
              example:
                value:
                  jsonrpc: '2.0'
                  id: 1
                  method: sui_tryMultiGetPastObjects
                  params:
                  - - objectId: '0x38b3186a7bb26a1ab2c982a0a9b482aa70f5a010fffc60f20194ef0f597474e8'
                      version: '4'
                    - objectId: '0xceaf9ee4582d3a233101e322a22cb2a5bea2e681ea5af4e59bd1abb0bb4fcb27'
                      version: '12'
                  - showType: true
                    showOwner: true
                    showPreviousTransaction: true
                    showDisplay: false
                    showContent: true
                    showBcs: false
                    showStorageRebate: true
      responses:
        '200':
          description: JSON-RPC response
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    enum:
                    - '2.0'
                  id:
                    type: integer
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/ObjectRead'
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                      data: {}
  /#sui_verifyZkLoginSignature:
    post:
      operationId: sui_verifyZkLoginSignature
      summary: sui_verifyZkLoginSignature
      description: Verify a zklogin signature for the given bytes, intent scope and author.
      tags:
      - Read API
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jsonrpc
              - id
              - method
              properties:
                jsonrpc:
                  type: string
                  enum:
                  - '2.0'
                  example: '2.0'
                id:
                  type: integer
                  example: 1
                method:
                  type: string
                  enum:
                  - sui_verifyZkLoginSignature
                params:
                  type: array
                  description: Parameters as positional array
                  items: {}
            examples: {}
      responses:
        '200':
          description: JSON-RPC response
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    enum:
                    - '2.0'
                  id:
                    type: integer
                  result:
                    $ref: '#/components/schemas/ZkLoginVerifyResult'
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                      message:
                        type: string
                      data: {}
components:
  schemas:
    ZkLoginAuthenticatorAsBytes:
      $ref: '#/components/schemas/Base64'
    Checkpoint:
      type: object
      required:
      - checkpointCommitments
      - digest
      - epoch
      - epochRollingGasCostSummary
      - networkTotalTransactions
      - sequenceNumber
      - timestampMs
      - transactions
      - validatorSignature
      properties:
        checkpointCommitments:
          description: Commitments to checkpoint state
          type: array
          items:
            $ref: '#/components/schemas/CheckpointCommitment'
        digest:
          description: Checkpoint digest
          allOf:
          - $ref: '#/components/schemas/CheckpointDigest'
        endOfEpochData:
          description: Present only on the final checkpoint of the epoch.
          anyOf:
          - $ref: '#/components/schemas/EndOfEpochData'
          - type: 'null'
        epoch:
          description: Checkpoint's epoch ID
          allOf:
          - $ref: '#/components/schemas/BigInt_for_uint64'
        epochRollingGasCostSummary:
          description: The running total gas costs of all transactions included in the current epoch so far until this checkpoint.
          allOf:
          - $ref: '#/components/schemas/GasCostSummary'
        networkTotalTransactions:
          description: Total number of transactions committed since genesis, including those in this checkpoint.
          allOf:
          - $ref: '#/components/schemas/BigInt_for_uint64'
        previousDigest:
          description: Digest of the previous checkpoint
          anyOf:
          - $ref: '#/components/schemas/CheckpointDigest'
          - type: 'null'
        sequenceNumber:
          description: Checkpoint sequence number
          allOf:
          - $ref: '#/components/schemas/BigInt_for_uint64'
        timestampMs:
          description: Timestamp of the checkpoint - number of milliseconds from the Unix epoch Checkpoint timestamps are monotonic, but not strongly monotonic - subsequent checkpoints can have same timestamp if they originate from the same underlining consensus commit
          allOf:
          - $ref: '#/components/schemas/BigInt_for_uint64'
        transactions:
          description: Transaction digests
          type: array
          items:
            $ref: '#/components/schemas/TransactionDigest'
        validatorSignature:
          description: Validator Signature
          allOf:
          - $ref: '#/components/schemas/Base64'
    Base58:
      type: string
    TransactionEventsDigest:
      $ref: '#/components/schemas/Digest'
    ObjectResponseError:
      oneOf:
      - type: object
        required:
        - code
        - object_id
        properties:
          code:
            type: string
            enum:
            - notExists
          object_id:
            $ref: '#/components/schemas/ObjectID'
      - type: object
        required:
        - code
        - parent_object_id
        properties:
          code:
            type: string
            enum:
            - dynamicFieldNotFound
          parent_object_id:
            $ref: '#/components/schemas/ObjectID'
      - type: object
        required:
        - code
        - digest
        - object_id
        - version
        properties:
          code:
            type: string
            enum:
            - deleted
          digest:
            description: Base64 string representing the object digest
            allOf:
            - $ref: '#/components/schemas/ObjectDigest'
          object_id:
            $ref: '#/components/schemas/ObjectID'
          version:
            description: Object version.
            allOf:
            - $ref: '#/components/schemas/SequenceNumber2'
      - type: object
        required:
        - code
        properties:
          code:
            type: string
            enum:
            - unknown
      - type: object
        required:
        - code
        - error
        properties:
          code:
            type: string
            enum:
            - displayError
          error:
            type: string
    Page_for_Checkpoint_and_BigInt_for_uint64:
      description: '`next_cursor` points to the last item in the page; Reading with `next_cursor` will start from the next item after `next_cursor` if `next_cursor` is `Some`, otherwise it will start from the first item.'
      type: object
      required:
      - data
      - hasNextPage
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Checkpoint'
        hasNextPage:
          type: boolean
        nextCursor:
          anyOf:
          - $ref: '#/components/schemas/BigInt_for_uint64'
          - type: 'null'
    MoveStruct:
      anyOf:
      - type: array
        items:
          $ref: '#/components/schemas/MoveValue'
      - type: object
        required:
        - fields
        - type
        properties:
          fields:
            type: object
            additionalProperties:
              $ref: '#/components/schemas/MoveValue'
          type:
            type: string
      - type: object
        additionalProperties:
          $ref: '#/components/schemas/MoveValue'
    MoveValue:
      anyOf:
      - type: integer
        format: uint32
        minimum: 0.0
      - type: boolean
      - $ref: '#/components/schemas/SuiAddress'
      - type: array
        items:
          $ref: '#/components/schemas/MoveValue'
      - type: string
      - type: object
        required:
        - id
        properties:
          id:
            $ref: '#/components/schemas/ObjectID'
      - $ref: '#/components/schemas/MoveStruct'
      - anyOf:
        - $ref: '#/components/schemas/MoveValue'
        - type: 'null'
      - $ref: '#/components/schemas/MoveVariant'
    Secp256r1SuiSignature:
      $ref: '#/components/schemas/Base64'
    TransactionBlockData:
      oneOf:
      - type: object
        required:
        - gasData
        - messageVersion
        - sender
        - transaction
        properties:
          gasData:
            $ref: '#/components/schemas/GasData'
          messageVersion:
            type: string
            enum:
            - v1
          sender:
            $ref: '#/components/schemas/SuiAddress'
          transaction:
            $ref: '#/components/schemas/TransactionBlockKind'
    MultiSigPublicKeyLegacy:
      description: Deprecated, use [struct MultiSigPublicKey] instead. The struct that contains the public key used for authenticating a MultiSig.
      type: object
      required:
      - pk_map
      - threshold
      properties:
        pk_map:
          description: A list of public key and its corresponding weight.
          type: array
          items:
            type: array
            items:
            - $ref: '#/components/schemas/PublicKey'
            - type: integer
              format: uint8
              minimum: 0.0
            maxItems: 2
            minItems: 2
        threshold:
          description: If the total weight of the public keys corresponding to verified signatures is larger than threshold, the MultiSig is verified.
          type: integer
          format: uint16
          minimum: 0.0
    CheckpointCommitment:
      oneOf:
      - type: object
        required:
        - ECMHLiveObjectSetDigest
        properties:
          ECMHLiveObjectSetDigest:
            $ref: '#/components/schemas/ECMHLiveObjectSetDigest'
        additionalProperties: false
      - type: object
        required:
        - CheckpointArtifactsDigest
        properties:
          CheckpointArtifactsDigest:
            $ref: '#/components/schemas/CheckpointArtifactsDigest'
        additionalProperties: false
    SequenceNumber2:
      $ref: '#/components/schemas/BigInt_for_uint64'
    AccumulatorValue:
      oneOf:
      - type: object
        required:
        - integer
        properties:
          integer:
            type: integer
            format: uint64
            minimum: 0.0
        additionalProperties: false
      - type: object
        required:
        - integerTuple
        properties:
          integerTuple:
            type: array
            items:
            - type: integer
              format: uint64
              minimum: 0.0
            - type: integer
              format: uint64
              minimum: 0.0
            maxItems: 2
            minItems: 2
        additionalProperties: false
      - type: object
        required:
        - eventDigest
        properties:
          eventDigest:
            type: array
            items:
              type: array
              items:
              - type: integer
                format: uint64
                minimum: 0.0
              - $ref: '#/components/schemas/Digest'
              maxItems: 2
              minItems: 2
        additionalProperties: false
    SuiJsonValue: {}
    ZkLoginInputs:
      description: All inputs required for the zk login proof verification and other public inputs.
      type: object
      required:
      - addressSeed
      - headerBase64
      - issBase64Details
      - proofPoints
      properties:
        addressSeed:
          $ref: '#/components/schemas/Bn254FrElement'
        headerBase64:
          type: string
        issBase64Details:
          $ref: '#/components/schemas/Claim'
        proofPoints:
          $ref: '#/components/schemas/ZkLoginProof'
    PublicKey:
      oneOf:
      - type: object
        required:
        - Ed25519
        properties:
          Ed25519:
            $ref: '#/components/schemas/Base64'
        additionalProperties: false
      - type: object
        required:
        - Secp256k1
        properties:
          Secp256k1:
            $ref: '#/components/schemas/Base64'
        additionalProperties: false
      - type: object
        required:
        - Secp256r1
        properties:
          Secp256r1:
            $ref: '#/components/schemas/Base64'
        additionalProperties: false
      - type: object
        required:
        - ZkLogin
        properties:
          ZkLogin:
            $ref: '#/components/schemas/ZkLoginPublicIdentifier'
        additionalProperties: false
      - type: object
        required:
        - Passkey
        properties:
          Passkey:
            $ref: '#/components/schemas/Base64'
        additionalProperties: false
    GenericSignature:
      description: Due to the incompatibility of [enum Signature] (which dispatches a trait that assumes signature and pubkey bytes for verification), here we add a wrapper enum where member can just implement a lightweight [trait AuthenticatorTrait]. This way MultiSig (and future Authenticators) can implement its own `verify`.
      oneOf:
      - type: object
        required:
        - MultiSig
        properties:
          MultiSig:
            $ref: '#/components/schemas/MultiSig'
        additionalProperties: false
      - type: object
        required:
        - MultiSigLegacy
        properties:
          MultiSigLegacy:
            $ref: '#/components/schemas/MultiSigLegacy'
        additionalProperties: false
      - type: object
        required:
        - Signature
        properties:
          Signature:
            $ref: '#/components/schemas/Signature'
        additionalProperties: false
      - type: object
        required:
        - ZkLoginAuthenticator
        properties:
          ZkLoginAuthenticator:
            $ref: '#/components/schemas/ZkLoginAuthenticator'
        additionalProperties: false
      - type: object
        required:
        - PasskeyAuthenticator
        properties:
          PasskeyAuthenticator:
            $ref: '#/components/schemas/PasskeyAuthenticator'
        additionalProperties: false
    ObjectChange:
      description: ObjectChange are derived from the object mutations in the TransactionEffect to provide richer object information.
      oneOf:
      - description: Module published
        type: object
        required:
        - digest
        - modules
        - packageId
        - type
        - version
        properties:
          digest:
            $ref: '#/components/schemas/ObjectDigest'
          modules:
            type: array
            items:
              type: string
          packageId:
            $ref: '#/components/schemas/ObjectID'
          type:
            type: string
            enum:
            - published
          version:
            $ref: '#/components/schemas/SequenceNumber'
      - description: Transfer objects to new address / wrap in another object
        type: object
        required:
        - digest
        - objectId
        - objectType
        - recipient
        - sender
        - type
        - version
        properties:
          digest:
            $ref: '#/components/schemas/ObjectDigest'
          objectId:
            $ref: '#/components/schemas/ObjectID'
          objectType:
            type: string
          recipient:
            $ref: '#/components/schemas/Owner'
          sender:
            $ref: '#/components/schemas/SuiAddress'
          type:
            type: string
            enum:
            - transferred
          version:
            $ref: '#/components/schemas/SequenceNumber'
      - description: Object mutated.
        type: object
        required:
        - digest
        - objectId
        - objectType
        - owner
        - previousVersion
        - sender
        - type
        - version
        properties:
          digest:
            $ref: '#/components/schemas/ObjectDigest'
          objectId:
            $ref: '#/components/schemas/ObjectID'
          objectType:
            type: string
          owner:
            $ref: '#/components/schemas/Owner'
          previousVersion:
            $ref: '#/components/schemas/SequenceNumber'
          sender:
            $ref: '#/components/schemas/SuiAddress'
          type:
            type: string
            enum:
            - mutated
          version:
            $ref: '#/components/schemas/SequenceNumber'
      - description: Delete object
        type: object
        required:
        - objectId
        - objectType
        - sender
        - type
        - version
        properties:
          objectId:
            $ref: '#/components/schemas/ObjectID'
          objectType:
            type: string
          sender:
            $ref: '#/components/schemas/SuiAddress'
          type:
            type: string
            enum:
            - deleted
          version:
            $ref: '#/components/schemas/SequenceNumber'
      - description: Wrapped object
        type: object
        required:
        - objectId
        - objectType
        - sender
        - type
        - version
        properties:
          objectId:
            $ref: '#/components/schemas/ObjectID'
          objectType:
            type: string
          sender:
            $ref: '#/components/schemas/SuiAddress'
          type:
            type: string
            enum:
            - wrapped
          version:
            $ref: '#/components/schemas/SequenceNumber'
      - description: New object creation
        type: object
        required:
        - digest
        - objectId
        - objectType
        - owner
        - sender
        - type
        - version
        properties:
          digest:
            $ref: '#/components/schemas/ObjectDigest'
          objectId:
            $ref: '#/components/schemas/ObjectID'
          objectType:
            type: string
          owner:
            $ref: '#/components/schemas/Owner'
          sender:
            $ref: '#/components/schemas/SuiAddress'
          type:
            type: string
            enum:
            - created
          version:
            $ref: '#/components/schemas/SequenceNumber'
    SuiObjectResponse:
      type: object
      properties:
        data:
          anyOf:
          - $ref: '#/components/schemas/ObjectData'
          - type: 'null'
        error:
          anyOf:
          - $ref: '#/components/schemas/ObjectResponseError'
          - type: 'null'
    PasskeyAuthenticatorAsBytes:
      $ref: '#/components/schemas/Base64'
    MultiSigLegacy:
      description: Deprecated, use [struct MultiSig] instead. The struct that contains signatures and public keys necessary for authenticating a MultiSigLegacy.
      type: object
      required:
      - bitmap
      - multisig_pk
      - sigs
      properties:
        bitmap:
          description: A bitmap that indicates the position of which public key the signature should be authenticated with.
          allOf:
          - $ref: '#/components/schemas/Base64'
        multisig_pk:
          description: The public key encoded with each public key with its signature scheme used along with the corresponding weight.
          allOf:
          - $ref: '#/components/schemas/MultiSigPublicKeyLegacy'
        sigs:
          description: The plain signature encoded with signature scheme.
          type: array
          items:
            $ref: '#/components/schemas/CompressedSignature'
    ECMHLiveObjectSetDigest:
      description: The Sha256 digest of an EllipticCurveMultisetHash committing to the live object set.
      type: object
      required:
      - digest
      properties:
        digest:
          type: array
          items:
            type: integer
            format: uint8
            minimum: 0.0
          maxItems: 32
          minItems: 32
    CompressedSignature:
      description: Unlike [enum Signature], [enum CompressedSignature] does not contain public key.
      oneOf:
      - type: object
        required:
        - Ed25519
        properties:
          Ed25519:
            $ref: '#/components/schemas/Base64'
        additionalProperties: false
      - type: object
        required:
        - Secp256k1
        properties:
          Secp256k1:
            $ref: '#/components/schemas/Base64'
        additionalProperties: false
      - type: object
        required:
        - Secp256r1
        properties:
          Secp256r1:
            $ref: '#/components/schemas/Base64'
        additionalProperties: false
      - type: object
        required:
        - ZkLogin
        properties:
          ZkLogin:
            $ref: '#/components/schemas/ZkLoginAuthenticatorAsBytes'
        additionalProperties: false
      - type: object
        required:
        - Passkey
        properties:
          Passkey:
            $ref: '#/components/schemas/PasskeyAuthenticatorAsBytes'
        additionalProperties: false
    MultiSigPublicKey:
      description: The struct that contains the public key used for authenticating a MultiSig.
      type: object
      required:
      - pk_map
      - threshold
      properties:
        pk_map:
          description: A list of public key and its corresponding weight.
          type: array
          items:
            type: array
            items:
            - $ref: '#/components/schemas/PublicKey'
            - type: integer
              format: uint8
              minimum: 0.0
            maxItems: 2
            minItems: 2
        threshold:
          description: If the total weight of the public keys corresponding to verified signatures is larger than threshold, the MultiSig is verified.
          type: integer
          format: uint16
          minimum: 0.0
    Bn254FrElement:
      description: A struct that stores a Bn254 Fr field element as 32 bytes.
      type: string
    ZkLoginProof:
      description: The struct for zk login proof.
      type: object
      required:
      - a
      - b
      - c
      properties:
        a:
          type: array
          items:
            $ref: '#/components/schemas/Bn254FqElement'
        b:
          type: array
          items:
            type: array
            items:
              $ref: '#/components/schemas/Bn254FqElement'
        c:
          type: array
          items:
            $ref: '#/components/schemas/Bn254FqElement'
    SuiJWK:
      type: object
      required:
      - alg
      - e
      - kty
      - n
      properties:
        alg:
          type: string
        e:
          type: string
        kty:
          type: string
        n:
          type: string
    SuiChangeEpoch:
      type: object
      required:
      - computation_charge
      - epoch
      - epoch_start_timestamp_ms
      - storage_charge
      - storage_rebate
      properties:
        computation_charge:
          $ref: '#/components/schemas/BigInt_for_uint64'
        epoch:
          $ref: '#/components/schemas/BigInt_for_uint64'
        epoch_start_timestamp_ms:
          $ref: '#/components/schemas/BigInt_for_uint64'
        storage_charge:
          $ref: '#/components/schemas/BigInt_for_uint64'
        storage_rebate:
          $ref: '#/components/schemas/BigInt_for_uint64'
    Event:
      type: object
      oneOf:
      - type: object
        required:
        - bcs
        - bcsEncoding
        properties:
          bcs:
            $ref: '#/components/schemas/Base64'
          bcsEncoding:
            type: string
            enum:
            - base64
      - type: object
        required:
        - bcs
        - bcsEncoding
        properties:
          bcs:
            $ref: '#/components/schemas/Base58'
          bcsEncoding:
            type: string
            enum:
            - base58
      required:
      - id
      - packageId
      - parsedJson
      - sender
      - transactionModule
      - type
      properties:
        id:
          description: Sequential event ID, ie (transaction seq number, event seq number). 1) Serves as a unique event ID for each fullnode 2) Also serves to sequence events for the purposes of pagination and querying. A higher id is an event seen later by that fullnode. This ID is the "cursor" for event querying.
          allOf:
          - $ref: '#/components/schemas/EventID'
        packageId:
          description: Move package where this event was emitted.
          allOf:
          - $ref: '#/components/schemas/ObjectID'
        parsedJson:
          description: Parsed json value of the event
        sender:
          description: Sender's Sui address.
          allOf:
          - $ref: '#/components/schemas/SuiAddress'
        timestampMs:
          description: UTC timestamp in milliseconds since epoch (1/1/1970)
          anyOf:
          - $ref: '#/components/schemas/BigInt_for_uint64'
          - type: 'null'
        transactionModule:
          description: Move module where this event was emitted.
          type: string
        type:
          description: Move event type.
          type: string
    SuiTransaction:
      description: A single transaction in a programmable transaction block.
      oneOf:
      - description: A call to either an entry or a public Move function
        type: object
        required:
        - MoveCall
        properties:
          MoveCall:
            $ref: '#/components/schemas/SuiProgrammableMoveCall'
        additionalProperties: false
      - description: '`(Vec<forall T:key+store. T>, address)` It sends n-objects to the specified address. These objects must have store (public transfer) and either the previous owner must be an address or the object must be newly created.'
        type: object
        required:
        - TransferObjects
        properties:
          TransferObjects:
            type: array
            items:
            - type: array
              items:
                $ref: '#/components/schemas/SuiArgument'
            - $ref: '#/components/schemas/SuiArgument'
            maxItems: 2
            minItems: 2
        additionalProperties: false
      - description: '`(&mut Coin<T>, Vec<u64>)` -> `Vec<Coin<T>>` It splits off some amounts into a new coins with those amounts'
        type: object
        required:
        - SplitCoins
        properties:
          SplitCoins:
            type: array
            items:
            - $ref: '#/components/schemas/SuiArgument'
            - type: array
              items:
                $ref: '#/components/schemas/SuiArgument'
            maxItems: 2
            minItems: 2
        additionalProperties: false
      - description: '`(&mut Coin<T>, Vec<Coin<T>>)` It merges n-coins into the first coin'
        type: object
        required:
        - MergeCoins
        properties:
          MergeCoins:
            type: array
            items:
            - $ref: '#/components/schemas/SuiArgument'
            - type: array
              items:
                $ref: '#/components/schemas/SuiArgument'
            maxItems: 2
            minItems: 2
        additionalProperties: false
      - description: Publishes a Move package. It takes the package bytes and a list of the package's transitive dependencies to link against on-chain.
        type: object
        required:
        - Publish
        properties:
          Publish:
            type: array
            items:
              $ref: '#/components/schemas/ObjectID'
        additionalProperties: false
      - description: Upgrades a Move package
        type: object
        required:
        - Upgrade
        properties:
          Upgrade:
            type: array
            items:
            - type: array
              items:
                $ref: '#/components/schemas/ObjectID'
            - $ref: '#/components/schemas/ObjectID'
            - $ref: '#/components/schemas/SuiArgument'
            maxItems: 3
            minItems: 3
        additionalProperties: false
      - description: '`forall T: Vec<T> -> vector<T>` Given n-values of the same type, it constructs a vector. For non objects or an empty vector, the type tag must be specified.'
        type: object
        required:
        - MakeMoveVec
        properties:
          MakeMoveVec:
            type: array
            items:
            - type:
              - string
              - 'null'
            - type: array
              items:
                $ref: '#/components/schemas/SuiArgument'
            maxItems: 2
            minItems: 2
        additionalProperties: false
    Digest:
      description: A representation of a 32 byte digest
      allOf:
      - $ref: '#/components/schemas/Base58'
    GasData:
      type: object
      required:
      - budget
      - owner
      - payment
      - price
      properties:
        budget:
          $ref: '#/components/schemas/BigInt_for_uint64'
        owner:
          $ref: '#/components/schemas/SuiAddress'
        payment:
          type: array
          items:
            $ref: '#/components/schemas/ObjectRef'
        price:
          $ref: '#/components/schemas/BigInt_for_uint64'
    CheckpointArtifactsDigest:
      $ref: '#/components/schemas/Digest'
    RawData:
      oneOf:
      - type: object
        required:
        - bcsBytes
        - dataType
        - hasPublicTransfer
        - type
        - version
        properties:
          bcsBytes:
            $ref: '#/components/schemas/Base64'
          dataType:
            type: string
            enum:
            - moveObject
          hasPublicTransfer:
            type: boolean
          type:
            type: string
          version:
            $ref: '#/components/schemas/SequenceNumber2'
      - type: object
        required:
        - dataType
        - id
        - linkageTable
        - moduleMap
        - typeOriginTable
        - version
        properties:
          dataType:
            type: string
            enum:
            - package
          id:
            $ref: '#/components/schemas/ObjectID'
          linkageTable:
            type: object
            additionalProperties:
              $ref: '#/components/schemas/UpgradeInfo'
          moduleMap:
            type: object
            additionalProperties:
              $ref: '#/components/schemas/Base64'
          typeOriginTable:
            type: array
            items:
              $ref: '#/components/schemas/TypeOrigin'
          version:
            $ref: '#/components/schemas/SequenceNumber2'
    TransactionBlockEffects:
      oneOf:
      - description: The response from processing a transaction or a certified transaction
        type: object
        required:
        - executedEpoch
        - gasObject
        - gasUsed
        - messageVersion
        - status
        - transactionDigest
        properties:
          abortError:
            description: The abort error populated if the transaction failed with an abort code.
            anyOf:
            - $ref: '#/components/schemas/SuiMoveAbort'
            - type: 'null'
          accumulatorEvents:
            type: array
            items:
              $ref: '#/components/schemas/AccumulatorEvent'
          created:
            description: ObjectRef and owner of new objects created.
            type: array
            items:
              $ref: '#/components/schemas/OwnedObjectRef'
          deleted:
            description: Object Refs of objects now deleted (the old refs).
            type: array
            items:
              $ref: '#/components/schemas/ObjectRef'
          dependencies:
            description: The set of transaction digests this transaction depends on.
            type: array
            items:
              $ref: '#/components/schemas/TransactionDigest'
          eventsDigest:
            description: The digest of the events emitted during execution, can be None if the transaction does not emit any event.
            anyOf:
            - $ref: '#/components/schemas/TransactionEventsDigest'
            - type: 'null'
          executedEpoch:
            description: The epoch when this transaction was executed.
            allOf:
            - $ref: '#/components/schemas/BigInt_for_uint64'
          gasObject:
            description: The updated gas object reference. Have a dedicated field for convenient access. It's also included in mutated.
            allOf:
            - $ref: '#/components/schemas/OwnedObjectRef'
          gasUsed:
            $ref: '#/components/schemas/GasCostSummary'
          messageVersion:
            type: string
            enum:
            - v1
          modifiedAtVersions:
            description: The version that every modified (mutated or deleted) object had before it was modified by this transaction.
            type: array
            items:
              $ref: '#/components/schemas/TransactionBlockEffectsModifiedAtVersions'
          mutated:
            description: ObjectRef and owner of mutated objects, including gas object.
            type: array
            items:
              $ref: '#/components/schemas/OwnedObjectRef'
          sharedObjects:
            description: The object references of the shared objects used in this transaction. Empty if no shared objects were used.
            type: array
            items:
              $ref: '#/components/schemas/ObjectRef'
          status:
            description: The status of the execution
            allOf:
            - $ref: '#/components/schemas/ExecutionStatus'
          transactionDigest:
            description: The transaction digest
            allOf:
            - $ref: '#/components/schemas/TransactionDigest'
          unwrapped:
            description: ObjectRef and owner of objects that are unwrapped in this transaction. Unwrapped objects are objects that were wrapped into other objects in the past, and just got extracted out.
            type: array
            items:
              $ref: '#/components/schemas/OwnedObjectRef'
          unwrappedThenDeleted:
            description: Object refs of objects previously wrapped in other objects but now deleted.
            type: array
            items:
              $ref: '#/components/schemas/ObjectRef'
          wrapped:
            description: Object refs of objects now wrapped in other objects.
            type: array
            items:
              $ref: '#/components/schemas/ObjectRef'
    Claim:
      description: A claim consists of value and index_mod_4.
      type: object
      required:
      - indexMod4
      - value
      properties:
        indexMod4:
          type: integer
          format: uint8
          minimum: 0.0
        value:
          type: string
    Secp256k1SuiSignature:
      $ref: '#/components/schemas/Base64'
    UpgradeInfo:
      description: Upgraded package info for the linkage table
      type: object
      required:
      - upgraded_id
      - upgraded_version
      properties:
        upgraded_id:
          description: ID of the upgraded packages
          allOf:
          - $ref: '#/components/schemas/ObjectID'
        upgraded_version:
          description: Version of the upgraded package
          allOf:
          - $ref: '#/components/schemas/SequenceNumber2'
    TypeTag:
      type: string
    AccumulatorOperation:
      type: string
      enum:
      - merge
      - split
    SuiMoveAbort:
      type: object
      properties:
        error_code:
          type:
          - integer
          - 'null'
          format: uint64
          minimum: 0.0
        function:
          type:
          - string
          - 'null'
        line:
          type:
          - integer
          - 'null'
          format: uint16
          minimum: 0.0
        module_id:
          type:
          - string
          - 'null'
    BigInt_for_uint64:
      type: string
    TransactionBlock:
      type: object
      required:
      - data
      - txSignatures
      properties:
        data:
          $ref: '#/components/schemas/TransactionBlockData'
        txSignatures:
          type: array
          items:
            $ref: '#/components/schemas/GenericSignature'
    ObjectDigest:
      $ref: '#/components/schemas/Digest'
    SuiCallArg:
      oneOf:
      - type: object
        oneOf:
        - type: object
          required:
          - digest
          - objectId
          - objectType
          - version
          properties:
            digest:
              $ref: '#/components/schemas/ObjectDigest'
            objectId:
              $ref: '#/components/schemas/ObjectID'
            objectType:
              type: string
              enum:
              - immOrOwnedObject
            version:
              $ref: '#/components/schemas/SequenceNumber'
        - type: object
          required:
          - initialSharedVersion
          - mutable
          - objectId
          - objectType
          properties:
            initialSharedVersion:
              $ref: '#/components/schemas/SequenceNumber'
            mutable:
              type: boolean
            objectId:
              $ref: '#/components/schemas/ObjectID'
            objectType:
              type: string
              enum:
              - sharedObject
        - type: object
          required:
          - digest
          - objectId
          - objectType
          - version
          properties:
            digest:
              $ref: '#/components/schemas/ObjectDigest'
            objectId:
              $ref: '#/components/schemas/ObjectID'
            objectType:
              type: string
              enum:
              - receiving
            version:
              $ref: '#/components/schemas/SequenceNumber'
        required:
        - type
        properties:
          type:
            type: string
            enum:
            - object
      - type: object
        required:
        - type
        - value
        properties:
          type:
            type: string
            enum:
            - pure
          value:
            $ref: '#/components/schemas/SuiJsonValue'
          valueType:
            default: null
            type:
            - string
            - 'null'
      - type: object
        required:
        - reservation
        - type
        - typeArg
        - withdrawFrom
        properties:
          reservation:
            $ref: '#/components/schemas/SuiReservation'
          type:
            type: string
            enum:
            - fundsWithdrawal
          typeArg:
            $ref: '#/components/schemas/SuiWithdrawalTypeArg'
          withdrawFrom:
            $ref: '#/components/schemas/SuiWithdrawFrom'
    EventID:
      description: Unique ID of a Sui Event, the ID is a combination of transaction digest and event seq number.
      type: object
      required:
      - eventSeq
      - txDigest
      properties:
        eventSeq:
          $ref: '#/components/schemas/BigInt_for_uint64'
        txDigest:
          $ref: '#/components/schemas/TransactionDigest'
    Owner:
      oneOf:
      - description: Object is exclusively owned by a single address, and is mutable.
        type: object
        required:
        - AddressOwner
        properties:
          AddressOwner:
            $ref: '#/components/schemas/SuiAddress'
        additionalProperties: false
      - description: Object is exclusively owned by a single object, and is mutable. The object ID is converted to SuiAddress as SuiAddress is universal.
        type: object
        required:
        - ObjectOwner
        properties:
          ObjectOwner:
            $ref: '#/components/schemas/SuiAddress'
        additionalProperties: false
      - description: Object is shared, can be used by any address, and is mutable.
        type: object
        required:
        - Shared
        properties:
          Shared:
            type: object
            required:
            - initial_shared_version
            properties:
              initial_shared_version:
                description: The version at which the object became shared
                allOf:
                - $ref: '#/components/schemas/SequenceNumber2'
        additionalProperties: false
      - description: Object is immutable, and hence ownership doesn't matter.
        type: string
        enum:
        - Immutable
      - description: Object is exclusively owned by a single address and sequenced via consensus.
        type: object
        required:
        - ConsensusAddressOwner
        properties:
          ConsensusAddressOwner:
            type: object
            required:
            - owner
            - start_version
            properties:
              owner:
                $ref: '#/components/schemas/SuiAddress'
              start_version:
                description: The version at which the object most recently became a consensus object. This serves the same function as `initial_shared_version`, except it may change if the object's Owner type changes.
                allOf:
                - $ref: '#/components/schemas/SequenceNumber2'
        additionalProperties: false
    ZkLoginAuthenticator:
      description: An zk login authenticator with all the necessary fields.
      type: object
      required:
      - inputs
      - maxEpoch
      - userSignature
      properties:
        inputs:
          $ref: '#/components/schemas/ZkLoginInputs'
        maxEpoch:
          type: integer
          format: uint64
          minimum: 0.0
        userSignature:
          $ref: '#/components/schemas/Signature'
    SuiJwkId:
      type: object
      required:
      - iss
      - kid
      properties:
        iss:
          type: string
        kid:
          type: string
    Base64:
      description: Base64 encoding
      type: string
    ObjectData:
      type: object
      required:
      - digest
      - objectId
      - version
      properties:
        bcs:
          description: Move object content or package content in BCS, default to be None unless SuiObjectDataOptions.showBcs is set to true
          anyOf:
          - $ref: '#/components/schemas/RawData'
          - type: 'null'
        content:
          description: Move object content or package content, default to be None unless SuiObjectDataOptions.showContent is set to true
          anyOf:
          - $ref: '#/components/schemas/Data'
          - type: 'null'
        digest:
          description: Base64 string representing the object digest
          allOf:
          - $ref: '#/components/schemas/ObjectDigest'
        display:
          description: The Display metadata for frontend UI rendering, default to be None unless SuiObjectDataOptions.showContent is set to true This can also be None if the struct type does not have Display defined See more details in <https://forums.sui.io/t/nft-object-display-proposal/4872>
          anyOf:
          - $ref: '#/components/schemas/DisplayFieldsResponse'
          - type: 'null'
        objectId:
          $ref: '#/components/schemas/ObjectID'
        owner:
          description: The owner of this object. Default to be None unless SuiObjectDataOptions.showOwner is set to true
          anyOf:
          - $ref: '#/components/schemas/Owner'
          - type: 'null'
        previousTransaction:
          description: The digest of the transaction that created or last mutated this object. Default to be None unless SuiObjectDataOptions.showPreviousTransaction is set to true
          anyOf:
          - $ref: '#/components/schemas/TransactionDigest'
          - type: 'null'
        storageRebate:
          description: The amount of SUI we would rebate if this object gets deleted. This number is re-calculated each time the object is mutated based on the present storage gas price.
          anyOf:
          - $ref: '#/components/schemas/BigInt_for_uint64'
          - type: 'null'
        type:
          description: The type of the object. Default to be None unless SuiObjectDataOptions.showType is set to true
          type:
          - string
          - 'null'
        version:
          description: Object version.
          allOf:
          - $ref: '#/components/schemas/SequenceNumber'
    SuiReservation:
      oneOf:
      - type: object
        required:
        - maxAmountU64
        properties:
          maxAmountU64:
            $ref: '#/components/schemas/BigInt_for_uint64'
        additionalProperties: false
    Bn254FqElement:
      description: A struct that stores a Bn254 Fq field element as 32 bytes.
      type: string
    ProtocolConfig:
      type: object
      required:
      - attributes
      - featureFlags
      - maxSupportedProtocolVersion
      - minSupportedProtocolVersion
      - protocolVersion
      properties:
        attributes:
          type: object
          additionalProperties:
            anyOf:
            - $ref: '#/components/schemas/ProtocolConfigValue'
            - type: 'null'
        featureFlags:
          type: object
          additionalProperties:
            type: boolean
        maxSupportedProtocolVersion:
          $ref: '#/components/schemas/ProtocolVersion'
        minSupportedProtocolVersion:
          $ref: '#/components/schemas/ProtocolVersion'
        protocolVersion:
          $ref: '#/components/schemas/ProtocolVersion'
    BigInt_for_uint16:
      type: string
    ExecutionStatus:
      oneOf:
      - type: object
        required:
        - status
        properties:
          status:
            type: string
            enum:
            - success
      - type: object
        required:
        - error
        - status
        properties:
          error:
            type: string
          status:
            type: string
            enum:
            - failure
    BigInt_for_uint32:
      type: string
    MoveVariant:
      type: object
      required:
      - fields
      - type
      - variant
      properties:
        fields:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/MoveValue'
        type:
          type: string
        variant:
          type: string
    SuiProgrammableMoveCall:
      description: The transaction for calling a Move function, either an entry function or a public function (which cannot return references).
      type: object
      required:
      - function
      - module
      - package
      properties:
        arguments:
          description: The arguments to the function.
          type: array
          items:
            $ref: '#/components/schemas/SuiArgument'
        function:
          description: The function to be called.
          type: string
        module:
          description: The specific module in the package containing the function.
          type: string
        package:
          description: The package containing the module and function.
          allOf:
          - $ref: '#/components/schemas/ObjectID'
        type_arguments:
          description: The type arguments to the function.
          type: array
          items:
            type: string
    TypeOrigin:
      description: Identifies a struct and the module it was defined in
      type: object
      required:
      - datatype_name
      - module_name
      - package
      properties:
        datatype_name:
          type: string
        module_name:
          type: string
        package:
          $ref: '#/components/schemas/ObjectID'
    TransactionBlockResponse:
      type: object
      required:
      - digest
      properties:
        balanceChanges:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/BalanceChange'
        checkpoint:
          description: The checkpoint number when this transaction was included and hence finalized. This is only returned in the read api, not in the transaction execution api.
          anyOf:
          - $ref: '#/components/schemas/BigInt_for_uint64'
          - type: 'null'
        confirmedLocalExecution:
          type:
          - boolean
          - 'null'
        digest:
          $ref: '#/components/schemas/TransactionDigest'
        effects:
          anyOf:
          - $ref: '#/components/schemas/TransactionBlockEffects'
          - type: 'null'
        errors:
          type: array
          items:
            type: string
        events:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Event'
        objectChanges:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ObjectChange'
        rawEffects:
          type: array
          items:
            type: integer
            format: uint8
            minimum: 0.0
        rawTransaction:
          description: BCS encoded [SenderSignedData] that includes input object references returns empty array if `show_raw_transaction` is false
          allOf:
          - $ref: '#/components/schemas/Base64'
        timestampMs:
          anyOf:
          - $ref: '#/components/schemas/BigInt_for_uint64'
          - type: 'null'
        transaction:
          description: Transaction input data
          anyOf:
          - $ref: '#/components/schemas/TransactionBlock'
          - type: 'null'
    SuiAddress:
      $ref: '#/components/schemas/Hex'
    BalanceChange:
      type: object
      required:
      - amount
      - coinType
      - owner
      properties:
        amount:
          description: The amount indicate the balance value changes, negative amount means spending coin value and positive means receiving coin value.
          type: string
        coinType:
          type: string
        owner:
          description: Owner of the balance change
          allOf:
          - $ref: '#/components/schemas/Owner'
    SuiActiveJwk:
      type: object
      required:
      - epoch
      - jwk
      - jwk_id
      properties:
        epoch:
          $ref: '#/components/schemas/BigInt_for_uint64'
        jwk:
          $ref: '#/components/schemas/SuiJWK'
        jwk_id:
          $ref: '#/components/schemas/SuiJwkId'
    ObjectID:
      $ref: '#/components/schemas/Hex'
    GasCostSummary:
      description: 'Summary of the charges in a transaction. Storage is charged independently of computation. There are 3 parts to the storage charges: `storage_cost`: it is the charge of storage at the time the transaction is executed. The cost of storage is the number of bytes of the objects being mutated multiplied by a variable storage cost per byte `storage_rebate`: this is the amount a user gets back when manipulating an object. The `storage_rebate` is the `storage_cost` for an object minus fees. `non_refundable_storage_fee`: not all the value of the object storage cost is given back to user and there is a small fraction that is kept by the system. This value tracks that charge.


        When looking at a gas cost summary the amount charged to the user is `computation_cost + storage_cost - storage_rebate` and that is the amount that is deducted from the gas coins. `non_refundable_storage_fee` is collected from the objects being mutated/deleted and it is tracked by the system in storage funds.


        Objects deleted, including the older versions of objects mutated, have the storage field on the objects added up to a pool of "potential rebate". This rebate then is reduced by the "nonrefundable rate" such that: `potential_rebate(storage cost of deleted/mutated objects) = storage_rebate + non_refundable_storage_fee`'
      type: object
      required:
      - computationCost
      - nonRefundableStorageFee
      - storageCost
      - storageRebate
      properties:
        computationCost:
          description: Cost of computation/execution
          allOf:
          - $ref: '#/components/schemas/BigInt_for_uint64'
        nonRefundableStorageFee:
          description: The fee for the rebate. The portion of the storage rebate kept by the system.
          allOf:
          - $ref: '#/components/schemas/BigInt_for_uint64'
        storageCost:
          description: Storage cost, it's the sum of all storage cost for all objects created or mutated.
          allOf:
          - $ref: '#/components/schemas/BigInt_for_uint64'
        storageRebate:
          description: The amount of storage cost refunded to the user for all objects deleted or mutated in the transaction.
          allOf:
          - $ref: '#/components/schemas/BigInt_for_uint64'
    Signature:
      oneOf:
      - type: object
        required:
        - Ed25519SuiSignature
        properties:
          Ed25519SuiSignature:
            $ref: '#/components/schemas/Ed25519SuiSignature'
        additionalProperties: false
      - type: object
        required:
        - Secp256k1SuiSignature
        properties:
          Secp256k1SuiSignature:
            $ref: '#/components/schemas/Secp256k1SuiSignature'
        additionalProperties: false
      - type: object
        required:
        - Secp256r1SuiSignature
        properties:
          Secp256r1SuiSignature:
            $ref: '#/components/schemas/Secp256r1SuiSignature'
        additionalProperties: false
    Hex:
      description: Hex string encoding.
      type: string
    TransactionBlockEffectsModifiedAtVersions:
      type: object
      required:
      - objectId
      - sequenceNumber
      properties:
        objectId:
          $ref: '#/components/schemas/ObjectID'
        sequenceNumber:
          $ref: '#/components/schemas/SequenceNumber'
    ConsensusCommitDigest:
      $ref: '#/components/schemas/Digest'
    SuiWithdrawFrom:
      type: string
      enum:
      - sender
      - sponsor
    CheckpointDigest:
      description: Representation of a Checkpoint's digest
      allOf:
      - $ref: '#/components/schemas/Digest'
    TransactionDigest:
      description: A transaction will have a (unique) digest.
      allOf:
      - $ref: '#/components/schemas/Digest'
    DisplayFieldsResponse:
      type: object
      properties:
        data:
          type:
          - object
          - 'null'
          additionalProperties:
            type: string
        error:
          anyOf:
          - $ref: '#/components/schemas/ObjectResponseError'
          - type: 'null'
    SuiWithdrawalTypeArg:
      oneOf:
      - type: object
        required:
        - balance
        properties:
          balance:
            $ref: '#/components/schemas/TypeTag'
        additionalProperties: false
    EndOfEpochData:
      type: object
      required:
      - epochCommitments
      - nextEpochCommittee
      - nextEpochProtocolVersion
      properties:
        epochCommitments:
          description: Commitments to epoch specific state (e.g. live object set)
          type: array
          items:
            $ref: '#/components/schemas/CheckpointCommitment'
        nextEpochCommittee:
          description: next_epoch_committee is `Some` if and only if the current checkpoint is the last checkpoint of an epoch. Therefore next_epoch_committee can be used to pick the last checkpoint of an epoch, which is often useful to get epoch level summary stats like total gas cost of an epoch, or the total number of transactions from genesis to the end of an epoch. The committee is stored as a vector of validator pub key and stake pairs. The vector should be sorted based on the Committee data structure.
          type: array
          items:
            type: array
            items:
            - $ref: '#/components/schemas/AuthorityPublicKeyBytes'
            - $ref: '#/components/schemas/BigInt_for_uint64'
            maxItems: 2
            minItems: 2
        nextEpochProtocolVersion:
          description: The protocol version that is in effect during the epoch that starts immediately after this checkpoint.
          allOf:
          - $ref: '#/components/schemas/ProtocolVersion'
    AccumulatorEvent:
      type: object
      required:
      - accumulatorObj
      - address
      - operation
      - ty
      - value
      properties:
        accumulatorObj:
          $ref: '#/components/schemas/ObjectID'
        address:
          $ref: '#/components/schemas/SuiAddress'
        operation:
          $ref: '#/components/schemas/AccumulatorOperation'
        ty:
          $ref: '#/components/schemas/TypeTag'
        value:
          $ref: '#/components/schemas/AccumulatorValue'
    Ed25519SuiSignature:
      $ref: '#/components/schemas/Base64'
    Data:
      oneOf:
      - type: object
        required:
        - dataType
        - fields
        - hasPublicTransfer
        - type
        properties:
          dataType:
            type: string
            enum:
            - moveObject
          fields:
            $ref: '#/components/schemas/MoveStruct'
          hasPublicTransfer:
            type: boolean
          type:
            type: string
      - type: object
        required:
        - dataType
        - disassembled
        properties:
          dataType:
            type: string
            enum:
            - package
          disassembled:
            type: object
            additionalProperties: true
    ProtocolVersion:
      $ref: '#/components/schemas/BigInt_for_uint64'
    OwnedObjectRef:
      type: object
      required:
      - owner
      - reference
      properties:
        owner:
          $ref: '#/components/schemas/Owner'
        reference:
          $ref: '#/components/schemas/ObjectRef'
    SuiArgument:
      description: An argument to a transaction in a programmable transaction block
      oneOf:
      - description: The gas coin. The gas coin can only be used by-ref, except for with `TransferObjects`, which can use it by-value.
        type: string
        enum:
        - GasCoin
      - description: One of the input objects or primitive values (from `ProgrammableTransactionBlock` inputs)
        type: object
        required:
        - Input
        properties:
          Input:
            type: integer
            format: uint16
            minimum: 0.0
        additionalProperties: false
      - description: The result of another transaction (from `ProgrammableTransactionBlock` transactions)
        type: object
        required:
        - Result
        properties:
          Result:
            type: integer
            format: uint16
            minimum: 0.0
        additionalProperties: false
      - description: Like a `Result` but it accesses a nested result. Currently, the only usage of this is to access a value from a Move call with multiple return values.
        type: object
        required:
        - NestedResult
        properties:
          NestedResult:
            type: array
            items:
            - type: integer
              format: uint16
              minimum: 0.0
            - type: integer
              format: uint16
              minimum: 0.0
            maxItems: 2
            minItems: 2
        additionalProperties: false
    SuiEndOfEpochTransactionKind:
      oneOf:
      - type: string
        enum:
        - AuthenticatorStateCreate
        - RandomnessStateCreate
        - CoinDenyListStateCreate
        - StoreExecutionTimeObservations
        - AccumulatorRootCreate
        - CoinRegistryCreate
        - DisplayRegistryCreate
        - AddressAliasStateCreate
        - WriteAccumulatorStorageCost
      - type: object
        required:
        - ChangeEpoch
        properties:
          ChangeEpoch:
            $ref: '#/components/schemas/SuiChangeEpoch'
        additionalProperties: false
      - type: object
        required:
        - AuthenticatorStateExpire
        properties:
          AuthenticatorStateExpire:
            $ref: '#/components/schemas/SuiAuthenticatorStateExpire'
        additionalProperties: false
      - type: object
        required:
        - BridgeStateCreate
        properties:
          BridgeStateCreate:
            $ref: '#/components/schemas/CheckpointDigest'
        additionalProperties: false
      - type: object
        required:
        - BridgeCommitteeUpdate
        properties:
          BridgeCommitteeUpdate:
            $ref: '#/components/schemas/SequenceNumber2'
        additionalProperties: false
    ZkLoginPublicIdentifier:
      description: A wrapper struct to retrofit in [enum PublicKey] for zkLogin. Useful to construct [struct MultiSigPublicKey].
      allOf:
      - $ref: '#/components/schemas/Base64'
    AuthorityPublicKeyBytes:
      description: Defines the compressed version of the public key that we pass around in Sui
      allOf:
      - $ref: '#/components/schemas/Base64'
    ZkLoginVerifyResult:
      type: object
      required:
      - errors
      - success
      properties:
        errors:
          description: The errors field captures any verification error
          type: array
          items:
            type: string
        success:
          description: The boolean result of the verification. If true, errors should be empty.
          type: boolean
    ObjectRead:
      oneOf:
      - description: The object exists and is found with this version
        type: object
        required:
        - details
        - status
        properties:
          details:
            $ref: '#/components/schemas/ObjectData'
          status:
            type: string
            enum:
            - VersionFound
      - description: The object does not exist
        type: object
        required:
        - details
        - status
        properties:
          details:
            $ref: '#/components/schemas/ObjectID'
          status:
            type: string
            enum:
            - ObjectNotExists
      - description: The object is found to be deleted with this version
        type: object
        required:
        - details
        - status
        properties:
          details:
            $ref: '#/components/schemas/ObjectRef'
          status:
            type: string
            enum:
            - ObjectDeleted
      - description: The object exists but not found with this version
        type: object
        required:
        - details
        - status
        properties:
          details:
            type: array
            items:
            - $ref: '#/components/schemas/ObjectID'
            - $ref: '#/components/schemas/SequenceNumber2'
            maxItems: 2
            minItems: 2
          status:
            type: string
            enum:
            - VersionNotFound
      - description: The asked object version is higher than the latest
        type: object
        required:
        - details
        - status
        properties:
          details:
            type: object
            required:
            - asked_version
            - latest_version
            - object_id
            properties:
              asked_version:
                $ref: '#/components/schemas/SequenceNumber2'
              latest_version:
                $ref: '#/components/schemas/SequenceNumber2'
              object_id:
                $ref: '#/components/schemas/ObjectID'
          status:
            type: string
            enum:
            - VersionTooHigh
    ObjectRef:
      type: object
      required:
      - digest
      - objectId
      - version
      properties:
        digest:
          description: Base64 string representing the object digest
          allOf:
          - $ref: '#/components/schemas/ObjectDigest'
        objectId:
          description: Hex code as string representing the object id
          allOf:
          - $ref: '#/components/schemas/ObjectID'
        version:
          description: Object version.
          allOf:
          - $ref: '#/components/schemas/SequenceNumber'
    TransactionBlockKind:
      oneOf:
      - description: A system transaction that will update epoch information on-chain.
        type: object
        required:
        - computation_charge
        - epoch
        - epoch_start_timestamp_ms
        - kind
        - storage_charge
        - storage_rebate
        properties:
          computation_charge:
            $ref: '#/components/schemas/BigInt_for_uint64'
          epoch:
            $ref: '#/components/schemas/BigInt_for_uint64'
          epoch_start_timestamp_ms:
            $ref: '#/components/schemas/BigInt_for_uint64'
          kind:
            type: string
            enum:
            - ChangeEpoch
          storage_charge:
            $ref: '#/components/schemas/BigInt_for_uint64'
          storage_rebate:
            $ref: '#/components/schemas/BigInt_for_uint64'
      - description: A system transaction used for initializing the initial state of the chain.
        type: object
        required:
        - kind
        - objects
        properties:
          kind:
            type: string
            enum:
            - Genesis
          objects:
            type: array
            items:
              $ref: '#/components/schemas/ObjectID'
      - description: A system transaction marking the start of a series of transactions scheduled as part of a checkpoint
        type: object
        required:
        - commit_timestamp_ms
        - epoch
        - kind
        - round
        properties:
          commit_timestamp_ms:
            $ref: '#/components/schemas/BigInt_for_uint64'
          epoch:
            $ref: '#/components/schemas/BigInt_for_uint64'
          kind:
            type: string
            enum:
            - ConsensusCommitPrologue
          round:
            $ref: '#/components/schemas/BigInt_for_uint64'
      - description: A series of transactions where the results of one transaction can be used in future transactions
        type: object
        required:
        - inputs
        - kind
        - transactions
        properties:
          inputs:
            description: Input objects or primitive values
            type: array
            items:
              $ref: '#/components/schemas/SuiCallArg'
          kind:
            type: string
            enum:
            - ProgrammableTransaction
          transactions:
            description: The transactions to be executed sequentially. A failure in any transaction will result in the failure of the entire programmable transaction block.
            type: array
            items:
              $ref: '#/components/schemas/SuiTransaction'
      - description: A transaction which updates global authenticator state
        type: object
        required:
        - epoch
        - kind
        - new_active_jwks
        - round
        properties:
          epoch:
            $ref: '#/components/schemas/BigInt_for_uint64'
          kind:
            type: string
            enum:
            - AuthenticatorStateUpdate
          new_active_jwks:
            type: array
            items:
              $ref: '#/components/schemas/SuiActiveJwk'
          round:
            $ref: '#/components/schemas/BigInt_for_uint64'
      - description: A transaction which updates global randomness state
        type: object
        required:
        - epoch
        - kind
        - random_bytes
        - randomness_round
        properties:
          epoch:
            $ref: '#/components/schemas/BigInt_for_uint64'
          kind:
            type: string
            enum:
            - RandomnessStateUpdate
          random_bytes:
            type: array
            items:
              type: integer
              format: uint8
              minimum: 0.0
          randomness_round:
            $ref: '#/components/schemas/BigInt_for_uint64'
      - description: The transaction which occurs only at the end of the epoch
        type: object
        required:
        - kind
        - transactions
        properties:
          kind:
            type: string
            enum:
            - EndOfEpochTransaction
          transactions:
            type: array
            items:
              $ref: '#/components/schemas/SuiEndOfEpochTransactionKind'
      - type: object
        required:
        - commit_timestamp_ms
        - consensus_commit_digest
        - epoch
        - kind
        - round
        properties:
          commit_timestamp_ms:
            $ref: '#/components/schemas/BigInt_for_uint64'
          consensus_commit_digest:
            $ref: '#/components/schemas/ConsensusCommitDigest'
          epoch:
            $ref: '#/components/schemas/BigInt_for_uint64'
          kind:
            type: string
            enum:
            - ConsensusCommitPrologueV2
          round:
            $ref: '#/components/schemas/BigInt_for_uint64'
      - type: object
        required:
        - commit_timestamp_ms
        - consensus_commit_digest
        - consensus_determined_version_assignments
        - epoch
        - kind
        - round
        properties:
          commit_timestamp_ms:
            $ref: '#/components/schemas/BigInt_for_uint64'
          consensus_commit_digest:
            $ref: '#/components/schemas/ConsensusCommitDigest'
          consensus_determined_version_assignments:
            $ref: '#/components/schemas/ConsensusDeterminedVersionAssignments'
          epoch:
            $ref: '#/components/schemas/BigInt_for_uint64'
          kind:
            type: string
            enum:
            - ConsensusCommitPrologueV3
          round:
            $ref: '#/components/schemas/BigInt_for_uint64'
          sub_dag_index:
            default: null
            anyOf:
            - $ref: '#/components/schemas/BigInt_for_uint64'
            - type: 'null'
      - type: object
        required:
        - additional_state_digest
        - commit_timestamp_ms
        - consensus_commit_digest
        - consensus_determined_version_assignments
        - epoch
        - kind
        - round
        properties:
          additional_state_digest:
            $ref: '#/components/schemas/AdditionalConsensusStateDigest'
          commit_timestamp_ms:
            $ref: '#/components/schemas/BigInt_for_uint64'
          consensus_commit_digest:
            $ref: '#/components/schemas/ConsensusCommitDigest'
          consensus_determined_version_assignments:
            $ref: '#/components/schemas/ConsensusDeterminedVersionAssignments'
          epoch:
            $ref: '#/components/schemas/BigInt_for_uint64'
          kind:
            type: string
            enum:
            - ConsensusCommitPrologueV4
          round:
            $ref: '#/components/schemas/BigInt_for_uint64'
          sub_dag_index:
            default: null
            anyOf:
            - $ref: '#/components/schemas/BigInt_for_uint64'
            - type: 'null'
      - description: A series of commands where the results of one command can be used in future commands
        type: object
        required:
        - inputs
        - kind
        - transactions
        properties:
          inputs:
            description: Input objects or primitive values
            type: array
            items:
              $ref: '#/components/schemas/SuiCallArg'
          kind:
            type: string
            enum:
            - ProgrammableSystemTransaction
          transactions:
            description: The transactions to be executed sequentially. A failure in any transaction will result in the failure of the entire programmable transaction block.
            type: array
            items:
              $ref: '#/components/schemas/SuiTransaction'
    MultiSig:
      description: The struct that contains signatures and public keys necessary for authenticating a MultiSig.
      type: object
      required:
      - bitmap
      - multisig_pk
      - sigs
[...]
